---
import Footer from '@/shared/components/Footer.astro'
import LegalLinks from '@/shared/components/LegalLinks.astro'
import Nav from '@/shared/components/Nav.astro'
import Layout from '@/shared/layouts/Layout.astro'
---

<Layout
  title='Gadmin - Política de DMCA'
  description='Crea tu propia tienda online en instantes y aumenta tus ventas hasta un 90% en el primer trimestre.'
>
  <Nav />
  <div class='full-page'>
    <div class='wrapper'>
      <main class='section section--legal'>
        <h1>Política de DMCA</h1>
        <h3>Cómo denunciar reclamaciones por infracciones de derechos de autor</h3>
        <p>
          Nos tomamos muy en serio las reclamaciones por infracción de derechos de autor.
          Responderemos a los avisos de supuestas infracciones de derechos de autor que cumplan con
          la ley aplicable. Si cree que algún material accesible a través de los Servicios de Gadmin
          (según se define en nuestros Términos de servicio y Acuerdo de suscripción principal),
          Galería de plantillas o Galería de integración infringe sus derechos de autor, puede
          solicitar la eliminación de esos materiales (o el acceso a ellos) de los Servicios
          enviando una notificación por escrito a nuestro agente de derechos de autor designado a
          continuación. De conformidad con la Ley de limitación de responsabilidad por infracción de
          derechos de autor en línea de la Ley de derechos de autor del milenio digital (17 U.S.C. §
          512) ("DMCA"), la notificación por escrito (la "Notificación DMCA") debe incluir
          sustancialmente lo siguiente:
        </p>
        <ol>
          <li>Su firma física o electrónica.</li>
          <li>
            Identificación de la obra protegida por derechos de autor que usted cree que ha sido
            infringida o, si el reclamo involucra varias obras, una lista representativa de dichas
            obras.
          </li>
          <li>
            Identificación del material que usted cree que está infringiendo sus derechos de manera
            suficientemente precisa para permitirnos localizar dicho material.
          </li>
          <li>
            Información adecuada mediante la cual podamos comunicarnos con usted (incluyendo su
            nombre, dirección postal, número de teléfono y dirección de correo electrónico).
          </li>
          <li>
            Una declaración de que usted cree de buena fe que el uso del material protegido por
            derechos de autor no está autorizado por el propietario de los derechos de autor, su
            agente o la ley.
          </li>
          <li>Una declaración de que la información contenida en el aviso escrito es exacta.</li>
          <li>
            Una declaración, bajo pena de perjurio, de que usted está autorizado a actuar en nombre
            del propietario de los derechos de autor.
          </li>
        </ol>
        <!-- TODO: Crear un formulario para que reporten las infricciones de DMCA -->
        <!-- TODO: Hay que constituir la empresa para poder cuidar del material valioso de otros -->
        <p>
          Lea atentamente estos Términos de servicio de uso personal ("Términos" o "Términos de
          servicio") antes de utilizar el sitio web www.gadmin.app y los Servicios operados por
          Gadmin. ("Gadmin", "nosotros" o "nuestro"). A los efectos de estos Términos, "usted" y
          "su" significan usted como usuario del Servicio. "Servicios" significa la plataforma y los
          servicios de software como servicio en línea de Gadmin, incluidas todas las API
          relacionadas proporcionadas por Gadmin, junto con todas las aplicaciones móviles y de
          escritorio relacionadas y los complementos a los que se suscriba. "Servicios" excluye los
          Servicios que no son de Gadmin.
        </p>
        <p>
          Su acceso y uso del Servicio está sujeto a la aceptación y cumplimiento de estos Términos.
          Estos Términos se aplican a todos los visitantes, usuarios y otras personas que deseen
          acceder o utilizar el Servicio. Estos Términos se aplican únicamente al uso personal de
          los Servicios. Usted reconoce que estos Términos, junto con la Política de privacidad de
          Gadmin, rigen su acceso y uso del Servicio.
        </p>
        <p>
          Al acceder o utilizar el Servicio, usted acepta estar sujeto a estos Términos. Si no está
          de acuerdo con alguna parte de estos Términos, no tendrá permiso para acceder al Servicio.
        </p>
        <!-- # Table of Contents -->
        <h2 class='table-content' id='table-of-contents'>Tabla de Contenidos</h2>
        <div class='table-content-container'>
          <a class='table-content__button' href='#table-of-contents'>Tabla de Contenidos</a>
          <a class='table-content__button' href='#1-content'>1. Contenido</a>
          <a class='table-content__button' href='2-restrictions'
            >2. Restricciones en el uso del servicio</a
          >
        </div>
        <br />
        <br />
        <br />
        <!-- # 1. Content -->
        <h2 id='1-content'>1. Contenido</h2>
        <p>
          A los efectos de estos Términos: (i) “Contenido de Gadmin” significa texto, gráficos,
          imágenes, música, software, modelos de aprendizaje automático, audio, video, trabajos de
          autoría de cualquier tipo e información u otros materiales que Gadmin o sus licenciantes
          publiquen, generen, proporcionen o pongan a disposición de otro modo a través del
          Servicio; y (ii) “Contenido del Usuario” significa cualquier Contenido que usted
          proporcione para que esté disponible a través del Servicio (excluido el Contenido de la
          Organización). El Contenido del Usuario incluye cualquier Resultado. En conjunto, el
          Contenido de Gadmin, el Contenido del Usuario y el Contenido de la Organización se
          denominan “Contenido”.
        </p>
        <p>
          <strong
            >Propiedad del contenido: No reclamamos ningún derecho de propiedad sobre ningún
            Contenido de usuario</strong
          > y nada en estos Términos se considerará que restringe los derechos que pueda tener para usar
          y explotar su Contenido de usuario. Sujeto a lo anterior, Gadmin y sus licenciantes poseen
          exclusivamente todos los derechos, títulos e intereses en y para el Servicio y el Contenido
          de Gadmin, incluidos todos los derechos de propiedad intelectual asociados. Usted reconoce
          que el Servicio y el Contenido de Gadmin están protegidos por derechos de autor, marca registrada
          y otras leyes de los Estados Unidos y países extranjeros. Usted acepta no eliminar, alterar
          u ocultar ningún derecho de autor, marca registrada, marca de servicio u otros avisos de derechos
          de propiedad incorporados o que acompañen al Servicio o al Contenido de Gadmin.
        </p>
        <p>
          <strong>Derechos sobre el Contenido del Usuario otorgados por usted:</strong> Al poner a disposición
          cualquier Contenido del Usuario a través del Servicio, usted otorga por la presente a Gadmin
          una licencia no exclusiva, transferible, mundial y libre de regalías, con el derecho a sublicenciar,
          usar, alojar, almacenar en caché, almacenar, reproducir, transmitir, exhibir públicamente,
          ejecutar públicamente, publicar, distribuir y modificar (solo para fines de formato), su Contenido
          del Usuario únicamente en relación con la operación y provisión del Servicio y el Contenido
          de Gadmin para usted y, dependiendo del permiso que usted otorgue, para otros usuarios, individuos
          y/u organizaciones. Sujeto a la licencia anterior, entre Notion y usted, usted conserva todos
          y cada uno de sus derechos sobre su Contenido del Usuario. Usted reconoce que si proporciona
          Contenido de la Organización (como se define a continuación), entonces la propiedad de dicho
          Contenido de la Organización puede ser la establecida en cualquier acuerdo entre usted y la
          Organización, y en ausencia de dicho acuerdo, entonces entre usted y la Organización, la Organización
          puede ser propietaria de los derechos sobre dicho Contenido de la Organización.
        </p>
        <p>
          <strong>Su responsabilidad por el Contenido de usuario:</strong> Usted es el único responsable
          de su Contenido de usuario. Usted declara y garantiza que es el propietario de su Contenido
          de usuario o que tiene todos los derechos necesarios para otorgarnos los derechos de licencia
          sobre su Contenido de usuario según estos Términos. También declara y garantiza que ni su Contenido
          de usuario, ni su uso y provisión de su Contenido de usuario para que esté disponible a través
          del Servicio, ni ningún uso de su Contenido de usuario por parte de Gadmin en o a través del
          Servicio infringirá, se apropiará indebidamente o violará los derechos de propiedad intelectual
          de un tercero, o los derechos de publicidad o privacidad, o resultará en la violación de cualquier
          ley o regulación aplicable o violará cualquier acuerdo que tenga con un tercero.
        </p>
        <p>
          <strong>Eliminación de Contenido de Usuario:</strong> Puede eliminar su Contenido de Usuario
          que designe como privado eliminándolo específicamente. Sin embargo, es posible que parte de
          su Contenido de Usuario no se elimine por completo y que sigan existiendo copias de su Contenido
          de Usuario en el Servicio. Los detalles adicionales con respecto a la eliminación y el almacenamiento
          del Contenido de Usuario se establecen en la Sección 15 (Terminación) a continuación.
        </p>
        <p>
          <strong>Derechos sobre el contenido otorgados por Gadmin:</strong> Sujeto a su cumplimiento
          de estos Términos, Gadmin le otorga una licencia limitada, no exclusiva, intransferible, sin
          derecho a sublicenciar, para descargar, ver, copiar, mostrar e imprimir el Contenido de Gadmin
          únicamente en relación con su uso permitido de los Servicios y únicamente para sus fines personales
          y no comerciales.
        </p>
        <p>
          <strong>Política de contenido y uso de Gadmin y monitoreo de contenido:</strong> Usted acepta
          que su uso del Servicio y todo el Contenido del usuario cumplirá con la Política de contenido
          y uso de Gadmin. Aunque no estamos obligados a monitorear el acceso o uso del Servicio o el
          Contenido ni a revisar o editar ningún Contenido, tenemos el derecho de hacerlo con el propósito
          de operar el Servicio, para garantizar el cumplimiento de estos Términos y para cumplir con
          la ley aplicable u otros requisitos legales. Nos reservamos el derecho, pero no estamos obligados,
          a eliminar o deshabilitar el acceso a cualquier Contenido, incluido el Contenido del usuario,
          en cualquier momento y sin previo aviso, incluido, entre otros, si, a nuestro exclusivo criterio,
          consideramos que algún Contenido es objetable o infringe estos Términos. Tenemos el derecho
          de investigar las violaciones de estos Términos o la conducta que afecte a los Servicios. También
          podemos consultar y cooperar con las autoridades policiales para procesar a los usuarios que
          violen la ley.
        </p>
        <!-- # 2. Restrictions -->
        <h2 id='2-restrictions'>2. Restricciones en el uso del servicio</h2>
        <p>
          No puede realizar ninguna de las siguientes acciones, a menos que las leyes o
          reglamentaciones aplicables prohíban estas restricciones o cuente con nuestro permiso
          expreso por escrito para hacerlo:
        </p>
        <ul>
          <li>
            publicar, cargar, publicar, enviar o transmitir cualquier Contenido de Usuario que: (i)
            infrinja, se apropie indebidamente o viole la patente, los derechos de autor, la marca
            registrada, el secreto comercial, los derechos morales u otros derechos de propiedad
            intelectual de un tercero, o los derechos de publicidad o privacidad; (ii) viole o
            fomente cualquier conducta que viole cualquier ley o regulación aplicable o que dé lugar
            a responsabilidad civil; (iii) sea fraudulento, falso, engañoso o fraudulento; (iv) sea
            difamatorio, obsceno, pornográfico, vulgar u ofensivo; (v) promueva la discriminación,
            la intolerancia, el racismo, el odio, el acoso o el daño contra cualquier individuo o
            grupo; (vi) sea violento o amenazante o promueva la violencia o acciones que amenacen a
            cualquier persona o entidad; o (vii) promueva actividades o sustancias ilegales o
            dañinas;
          </li>
          <li>
            duplicar, descompilar, realizar ingeniería inversa, desensamblar o decodificar el
            Servicio (incluida cualquier idea o algoritmo subyacente), o intentar hacer cualquiera
            de las mismas cosas;
          </li>
          <li>
            acceder o utilizar el Servicio de cualquier manera que pueda deshabilitar, sobrecargar,
            dañar, interrumpir o perjudicar el Servicio o interferir con el acceso o uso del
            Servicio por parte de terceros o utilizar cualquier dispositivo, software o rutina que
            cause lo mismo;
          </li>
          <li>
            acceder o utilizar los Servicios de cualquier manera, incluso en lo que respecta al
            almacenamiento de datos, excediendo los límites de uso justo determinados por Gadmin a
            su exclusivo criterio;
          </li>
          <li>
            intentar obtener acceso no autorizado, interferir, dañar o interrumpir el Servicio, las
            cuentas registradas de otros usuarios o los sistemas informáticos o redes conectadas al
            Servicio;
          </li>
          <li>
            eludir, eliminar, alterar, desactivar, degradar o frustrar cualquier medida tecnológica
            o protección de contenido del Servicio;
          </li>
          <li>
            utilizar cualquier robot, araña, rastreador u otro dispositivo automático, proceso,
            software o consultas que intercepten, “extraigan”, raspen o accedan de otro modo al
            Servicio para monitorear, extraer, copiar o recopilar información o datos desde o a
            través del Servicio, o participar en cualquier proceso manual para hacer lo mismo;
          </li>
          <li>
            introducir virus, troyanos, gusanos, bombas lógicas u otros materiales que sean
            maliciosos o tecnológicamente dañinos;
          </li>
          <li>utilizar el Servicio con fines ilegales, acosadores, poco éticos o disruptivos;</li>
          <li>
            violar cualquier ley o regulación aplicable en relación con su acceso o uso del
            Servicio;
          </li>
          <li>
            acceder o utilizar el Servicio desde cualquier país o región sujeto a un embargo
            integral de los EE. UU.; o
          </li>
          <li>
            acceder o utilizar el Servicio de cualquier forma no expresamente permitida por estos
            Términos o la Documentación.
          </li>
          <li>
            acceder o utilizar el Servicio en violación de nuestra <a href='/content-use-policy'
              >Política de contenido y uso</a
            >.
          </li>
        </ul>
        <!-- # 3. Cuentas -->
        <h2 id='3-accounts'>3. Cuentas</h2>
        <p>
          Usted es responsable de mantener la confidencialidad de su cuenta y contraseña,
          incluyendo, entre otras cosas, la restricción del acceso a su computadora y/o cuenta. Está
          prohibido compartir su nombre de usuario o contraseña. Usted acepta la responsabilidad por
          todas y cada una de las actividades o acciones que ocurran en su cuenta. Debe notificarnos
          inmediatamente si se entera de cualquier violación de seguridad o uso no autorizado de su
          cuenta.
        </p>
        <p>
          No puede utilizar como nombre de usuario para su tienda el nombre de otra persona o
          entidad que no esté legalmente disponible para su uso, ni un nombre o marca registrada que
          esté sujeto a los derechos de otra persona o entidad que no sea usted, sin la autorización
          correspondiente. No puede utilizar como nombre de usuario para su tienda ningún nombre que
          sea ofensivo, vulgar u obsceno.
        </p>
        <p>
          No puede utilizar el Servicio si tiene 13 años o menos. Al utilizar el Servicio, declara y
          garantiza que es mayor de 13 años.
        </p>
        <!-- # 4. Tiendas -->
        <h2 id='4-store'>4. Tiendas</h2>
        <p>
          El Contenido del Usuario enviado, publicado o modificado por los usuarios en el Servicio
          está organizado en secciones separadas a las que nos referimos como “Tiendas”.
        </p>
        <p>Hay dos tipos generales de tiendas en el Servicio:</p>
        <ul>
          <li>
            “Tiendas personales” que solo pueden ser administrados por el usuario que creó la tienda
            y a los que solo puede acceder dicho usuario y cualquier usuario invitado autorizado,
            sujeto a lo que se indica a continuación con respecto a las tiendas personales creadas
            mediante un correo electrónico de la organización.
          </li>
          <li>
            “Tiendas organizacionales” que requieren una suscripción elegible y a los que pueden
            acceder varios usuarios. A continuación se detallan más detalles sobre las tiendas
            organizacionales.
          </li>
        </ul>
        <p>
          En el Servicio, puedes trabajar en varias Tiendas a la vez, lo que significa que tu cuenta
          única puede acceder a tus propias Tiendas personales y a Tiendas organizacionales de tu
          empleador. Las Tiendas son completamente independientes y no podrás vincular ningún
          Contenido entre ellas (aunque puedes transferir Contenido de una Tienda a otra). También
          puedes exportar tu Contenido de usuario desde tus Tiendas para usarlo fuera del Servicio
          utilizando nuestra herramienta de exportación disponible en nuestra página de
          administración de cuentas en línea.
        </p>
        <p>
          Los usuarios que se unan a la tienda de una organización aceptan que los datos de su
          cuenta de Gadmin y el contenido de usuario creado en esa tienda pueden compartirse con esa
          organización y que el propietario o administrador de la tienda puede acceder a ellos,
          modificarlos o eliminarlos. Además, usted reconoce y acepta que si se registra en Gadmin
          con una dirección de correo electrónico proporcionada por una organización ("Correo
          electrónico de la organización"), acepta que dicha organización puede ver información
          sobre cualquier tienda que cree o del que sea administrador, miembro o invitado, incluida
          una lista de miembros de la tienda, invitados y contenido. Dicha organización puede tener
          la capacidad de administrar su tienda, lo que incluye reclamar el control y la propiedad
          de cualquier tienda que cree o del que sea administrador, o eliminarlo de cualquier tienda
          del que sea miembro, incluido cualquier contenido dentro de dichas tiendas.
        </p>
        <p>
          Si se une a una tienda organizacional, su uso debe cumplir con las políticas de esa
          organización y cualquier acuerdo que pueda tener con esa organización. Las tiendas
          organizacionales están sujetos al control de dicha organización. Los administradores de la
          organización pueden acceder, divulgar, restringir o eliminar contenido en la tienda
          organizacional o desde él. También pueden restringir o cancelar su acceso a la tienda
          organizacional. Si convierte una tienda personal existente en una tienda organizacional o
          transfiere o comparte contenido con una tienda organizacional, sus administradores pueden
          impedirle posteriormente desvincular el contenido de la tienda organizacional.
        </p>
        <!-- # 5. Interacting with Organizational Stores -->
        <h2 id='5-interacting-org-stores'>5. Interacción con tiendas organizacionales</h2>
        <p>
          Una Organización puede (i) invitarlo a usar o permitirle usar su Tienda Organizacional;
          y/o (ii) invitarlo a unirse al Servicio como su Usuario Organizacional.
        </p>
        <p>
          Como se indica en la sección “Contenido” de estos Términos, si envía o publica Contenido
          en una Tienda de la organización (dicho Contenido, el “Contenido de la organización”),
          entonces, entre usted, Gadmin y dicha Organización, la Organización será propietaria de
          todos los derechos sobre dicho Contenido de la organización. Para evitar dudas, lo
          anterior no le impide celebrar un acuerdo por separado entre usted y la Organización que
          aborde la propiedad del Contenido entre usted y dicha Organización.
        </p>
        <p>
          Las organizaciones están autorizadas a agregar y eliminar usuarios de sus tiendas
          organizacionales. Los usuarios que hayan sido autorizados a usar una tienda organizacional
          del Servicio por una organización se denominan "Usuario de la tienda" mientras estén
          usando dicha tienda de la organización. Si compró una suscripción en nombre de su
          organización o empleador, su organización o empleador es la organización, y no usted. La
          organización puede modificar y reasignar roles en la tienda organizacional (incluido su
          rol). Si la organización elige reemplazarlo como representante con autoridad máxima para
          la tienda organizacional, usted acepta tomar cualquier acción que solicitemos
          razonablemente nosotros o la organización para facilitar la transferencia de autoridad a
          un nuevo representante de la organización.
        </p>
        <p>
          Si utiliza una tienda de la organización como usuario de una organización, reconoce que el
          servicio que utiliza en esas circunstancias es una herramienta del lugar de trabajo
          destinada a empresas y organizaciones y no a fines de consumo. En la medida máxima
          permitida por la ley, reconoce y acepta que las leyes de consumo no se aplican en relación
          con dicho uso de una tienda de la organización como usuario de una organización.
        </p>
        <!-- # 6. Suscripciones -->
        <h2 id='6-subscriptions'>6. Suscripciones</h2>
        <p>
          Todo el Servicio está disponible mediante suscripción paga. Los precios y las funciones
          incluidas en las Suscripciones ("Plan(es) de Suscripción") se establecen en: <a
            href='https://gadmin.app/pricing'>https://gadmin.app/pricing</a
          >.
        </p>
        <p>
          Se le facturará por adelantado de forma recurrente y periódica ("Ciclo de facturación").
          Los ciclos de facturación se establecen de forma mensual o anual. Independientemente de si
          utiliza la facturación mensual o anual, es posible que se le cobre a su cuenta de forma
          mensual.
        </p>
        <!-- TODO: Agregar FAQ de Billing: "Consulte las Preguntas frecuentes sobre facturación para obtener más detalles." -->
        <p>
          <strong>Renovación automática:</strong> Usted acepta que al final de cada ciclo de facturación,
          su suscripción se renovará automáticamente y su método de pago para dicha suscripción se cargará
          automáticamente al inicio de cada nuevo período de suscripción por las tarifas e impuestos
          aplicables a ese ciclo de facturación, bajo las mismas condiciones que el ciclo de facturación
          anterior, a menos que cancele su suscripción antes de su fecha de renovación.
        </p>
        <p>
          Se requiere un método de pago válido, incluida una tarjeta de crédito, para procesar el
          pago de su suscripción. Debe proporcionar a Gadmin información de facturación precisa y
          completa, que incluya nombre completo, dirección, estado, código postal e información de
          método de pago válido. Al enviar dicha información de pago, usted autoriza automáticamente
          a Gadmin a cobrar todas las Tarifas de suscripción incurridas a través de su cuenta a
          cualquiera de dichos instrumentos de pago.
        </p>
        <p>
          Si por algún motivo no se puede realizar la facturación automática, Gadmin puede intentar
          cobrar la tarjeta de crédito registrada una o más veces. Si el pago continúa sin
          realizarse, Gadmin, a su exclusivo criterio, cancelará o cambiará a una categoría inferior
          la suscripción y usted podrá perder el acceso a determinadas funciones pagas o a su tienda
          y cuenta de Gadmin.
        </p>
        <p>
          Puede cancelar su suscripción a través de su página de administración de cuenta en línea o
          comunicándose con el equipo de atención al cliente de Notion a <a
            href='mailto:team@gadmin.app'>team@gadmin.app</a
          > e indicando su intención de cancelar su suscripción.
        </p>
        <!-- # 7. Tarifas y cambios de tarifas -->
        <h2 id='7-fees'>7. Tarifas y cambios de tarifas</h2>
        <p>
          Gadmin, a su exclusivo criterio y en cualquier momento, puede modificar las Tarifas de
          suscripción de las Suscripciones, incluidos los Complementos. Cualquier cambio en la
          Tarifa de suscripción entrará en vigencia al final del Ciclo de facturación vigente en ese
          momento.
        </p>
        <p>
          Gadmin le proporcionará un aviso previo razonable de cualquier cambio en las Tarifas de
          suscripción. Su uso continuo del Servicio constituye su aceptación de pagar las Tarifas de
          suscripción modificadas.
        </p>
        <p>
          Las tarifas de suscripción se establecen sin incluir ningún impuesto o tasación
          gubernamental similar de cualquier naturaleza, incluidos, por ejemplo, los impuestos al
          valor agregado, a las ventas, al uso o a las retenciones, que pueda evaluar cualquier
          jurisdicción (en conjunto, los “Impuestos”). Usted será responsable de pagar todos los
          impuestos asociados con su suscripción, excepto aquellos impuestos basados ​​en nuestros
          ingresos netos. Si algún pago por el Servicio está sujeto a retención de impuestos por
          parte de algún gobierno, usted nos reembolsará dicha retención.
        </p>
        <!-- # 8. Tarifas y cambios de tarifas -->
        <h2 id='8-free-trial-and-beta'>8. Pruebas gratuitas y servicios beta</h2>
        <h3 id='8-free-trial'>Pruebas gratuitas</h3>
        <p>
          Gadmin puede, a su exclusivo criterio, ofrecer una Suscripción con una prueba gratuita por
          un período de tiempo limitado ("Prueba gratuita"). Si está en una Prueba gratuita, puede
          cancelarla en cualquier momento hasta el último día de su Prueba gratuita siguiendo los
          procedimientos de cancelación descritos en la sección Suscripción de estos Términos. Si
          usted o Gadmin cancelan su Prueba gratuita, reconoce y acepta que podemos eliminar todo su
          Contenido de usuario o los datos asociados con su Tienda que se asignaron a su Prueba
          gratuita. Si no cancela su Prueba gratuita, entonces su Prueba gratuita se convertirá en
          una Suscripción paga al final del período de prueba, y por la presente nos autoriza a
          cobrar su tarjeta de crédito u otro método de pago por el uso continuo del Servicio pago
          bajo dicha Suscripción. A partir de entonces, su Suscripción puede cancelarse de acuerdo
          con la Sección 6 (Suscripción) de estos Términos.
        </p>
        <p>
          En cualquier momento y sin previo aviso, Gadmin se reserva el derecho de (a) modificar los
          términos y condiciones de cualquier oferta de prueba gratuita; (b) cancelar cualquier
          oferta de prueba gratuita; o (c) cancelar cualquier suscripción de prueba gratuita en
          cualquier momento.
        </p>
        <h3 id='8-beta-services'>Servicios Beta</h3>
        <p>
          Esta Sección describe los términos y condiciones adicionales bajo los cuales usted puede
          acceder y usar ciertas características, tecnologías y servicios puestos a su disposición
          por Gadmin que aún no están generalmente disponibles, incluyendo, pero no limitado a,
          cualquier producto, servicio o característica designada o etiquetada como “alfa”, “beta”,
          “acceso anticipado”, “vista previa”, “piloto” o designación similar (cada uno, un
          “Servicio Beta”).
        </p>
        <p>
          Debe cumplir con todos los términos relacionados con cualquier Servicio Beta que Gadmin
          publique en su sitio web o le proporcione. Gadmin puede agregar o modificar términos,
          incluida la reducción o el aumento de los límites de uso, relacionados con el acceso o el
          uso de cualquier Servicio Beta en cualquier momento. Los Acuerdos de Nivel de Servicio no
          se aplican a los Servicios Beta.
        </p>
        <p>
          Puede proporcionar a Gadmin comentarios relacionados con los Servicios Beta. Gadmin será
          el propietario y podrá utilizar y evaluar todos los comentarios para sus propios fines.
        </p>
        <p>
          Gadmin puede suspender o cancelar su acceso o uso de cualquier Servicio Beta en cualquier
          momento. Su acceso y uso de cada Servicio Beta finalizará automáticamente tras el
          lanzamiento de una versión disponible para el público en general del Servicio Beta
          correspondiente o tras la notificación de cancelación por parte de Gadmin.
        </p>
        <p>
          <strong>Descargo de responsabilidad.</strong>
        </p>
        <p>
          SIN LIMITAR LAS EXENCIONES DE RESPONSABILIDAD DEL ACUERDO, LOS SERVICIOS BETA NO ESTÁN
          LISTOS PARA SU LANZAMIENTO COMERCIAL GENERAL Y, SIN PERJUICIO DE CUALQUIER DISPOSICIÓN EN
          CONTRARIO EN EL ACUERDO, GADMIN PROPORCIONA LOS SERVICIOS BETA “TAL CUAL”. GADMIN NO HACE
          DECLARACIONES NI OFRECE GARANTÍAS DE NINGÚN TIPO, YA SEAN EXPRESAS, IMPLÍCITAS,
          ESTATUTARIAS O DE OTRO TIPO, CON RESPECTO A LOS SERVICIOS BETA, INCLUIDA CUALQUIER
          GARANTÍA DE QUE LOS SERVICIOS BETA ESTARÁN DISPONIBLES DE FORMA GENERAL. EXCEPTO EN LA
          MEDIDA EN QUE LO PROHÍBA LA LEY, GADMIN RENUNCIA A TODAS LAS GARANTÍAS, INCLUIDAS LAS
          GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD, IDONEIDAD PARA UN PROPÓSITO PARTICULAR O NO
          INFRACCIÓN.
        </p>
        <!-- # 9. Reembolsos -->
        <h2 id='9-refunds'>9. Reembolsos</h2>
        <p>
          Las obligaciones de pago no son cancelables, las tarifas pagadas no son reembolsables y no
          hay créditos por períodos de suscripción parcialmente utilizados.
        </p>
        <!-- # 10. Comunicaciones desde Gadmin -->
        <h2 id='10-communications-gadmin'>10. Comunicaciones desde Gadmin</h2>
        <p>
          Al crear una cuenta en nuestro Servicio, usted acepta suscribirse a boletines informativos
          o materiales de marketing y otra información promocional que podamos enviarle. Sin
          embargo, puede optar por no recibir ninguna o todas estas comunicaciones de marketing de
          nuestra parte siguiendo el enlace para cancelar la suscripción o las instrucciones que se
          proporcionan en cualquier correo electrónico que le enviemos. Tenga en cuenta que aún
          podemos enviarle mensajes transaccionales o administrativos relacionados con el Servicio
          incluso después de que haya optado por no recibir comunicaciones de marketing.
        </p>
        <!-- # 11. Política de derechos de autor -->
        <h2 id='11-copyright-policy'>11. Política de derechos de autor</h2>
        <p>
          Respetamos los derechos de propiedad intelectual de terceros. Nuestra política es
          responder a las reclamaciones de que los materiales publicados en el Servicio infringen
          los derechos de autor de cualquier persona o entidad de acuerdo con nuestra <a
            href='/dmca-policy'>Política de DMCA.</a
          >
        </p>
      </main>
      <LegalLinks />
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .full-page {
    background-color: #070a2b;
    min-height: calc(100svh - 6rem);
    padding-top: 6rem;
  }

  /* TODO: Esta clase debe ser global. */
  .wrapper {
    width: 100%;
    max-width: 1080px;
    display: flex;
    color: var(--neutral-04);
    gap: 20px;
    padding: 0 20px;
  }

  .section--legal {
    flex: 2;
  }

  .table-content {
    margin-bottom: 0.5rem;
  }

  .table-content-container {
    display: flex;
    flex-direction: column;
  }

  .table-content__button {
    display: block;
    color: var(--neutral-06);
    text-decoration: underline;
    padding: 0.5rem;
    padding-left: 0.25rem;
    border-radius: 2px;
    transition: background-color 0.1s ease;
  }

  .table-content__button:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }
</style>
