---
import Footer from '@/shared/components/Footer.astro'
import Nav from '@/shared/components/Nav.astro'
import Layout from '@/shared/layouts/Layout.astro'

import PricingCard from '@/shared/components/pricing/PricingCard.astro'
import PricingCardsContainer from '@/shared/components/pricing/PricingCardsContainer.astro'
import PricingHeader from '@/shared/components/pricing/PricingHeader.astro'
import PricingTabs from '@/shared/components/pricing/PricingTabs.astro'

import PricingTableFloat from '@/shared/components/pricing/pricingFeatures/PricingFeaturesFloat.astro'
import PricingFeaturesTable from '@/shared/components/pricing/pricingFeatures/PricingFeaturesTable.astro'
---

<Layout
  title='Gadmin - Planes y precios'
  description='Descubre los planes que Gadmin tiene para ti y empieza tu tienda online hoy mismo desde $4.99 al mes.'
>
  <Nav />
  <div class='pricing'>
    <div class='wrapper pricing__wrapper'>
      <PricingHeader />
      <PricingTabs />
      <PricingCardsContainer>
        <PricingCard
          card='bronze'
          name='Bronce 游밽'
          description='Perfecto para nuevos emprendimientos o tiendas de 1 solo producto estrella.'
          features={[
            'Ventas ilimitadas sin comisi칩n',
            'Hasta 50 productos',
            '5 im치genes por producto',
            '5 variantes por producto',
            'Configurar dominio propio',
          ]}
        />

        <PricingCard
          card='silver'
          name='Plata 游뽔'
          description='Ideal para tiendas de nicho y negocios que buscan escalar.'
          features={[
            'Hasta 100 productos',
            '10 im치genes por producto',
            '10 variantes por producto',
            'Tienda multimoneda',
            '游꾸 Dominio .COM de regalo',
          ]}
          recommended={true}
        />

        <PricingCard
          card='gold'
          name='Oro 游눝'
          description='Para grandes tiendas con alta demanda y cat치logos extensos.'
          features={[
            'Hasta 500 productos',
            '20 im치genes por producto',
            'Variantes ilimitadas',
            'Tienda con soporte en varios idiomas',
          ]}
        />
      </PricingCardsContainer>
      <div class='pricing__table-container' data-aos='zoom-in'>
        <PricingTableFloat />
        <PricingFeaturesTable />
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .pricing {
    background-color: #0eaaf9;
    background-image: linear-gradient(135deg, #01283c, #0b321c);
    min-height: calc(100svh - 6rem);
    padding-top: 10rem;
    padding-bottom: 4rem;
  }

  .pricing__table-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
  }

  @media screen and (max-width: 768px) {
    .pricing {
      padding-top: 6rem;
    }

    .pricing__table-container {
    }
  }
</style>
