---
import Footer from '@/shared/components/Footer.astro'
import Nav from '@/shared/components/Nav.astro'
import Layout from '@/shared/layouts/Layout.astro'
---

<Layout
  title='Gadmin - Blog'
  description='Énterate de noticias, estrategias y técnicas del emprendimiento de la mano de tu equipo favorito.'
>
  <Nav />
  <div class='home'>
    <div class='wrapper'>
      <h1 style='text-align: center;color: white;'>Blog de Gadmin.</h1>
      <h2 style='text-align: center;color: white;'>En desarrollo...</h2>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .home {
    background-color: #0eaaf9;
    background-image: linear-gradient(135deg, #01283c, #0b321c);
    min-height: calc(100svh - 6rem);
    padding-top: 6rem;
  }
</style>
