---
import logoBg from '@/assets/img/logo-bg.png'
import Facebook from '@/shared/components/icons/Facebook.astro'
import Instagram from '@/shared/components/icons/Instagram.astro'
import LinkedIn from '@/shared/components/icons/LinkedIn.astro'
import Youtube from '@/shared/components/icons/Youtube.astro'
import { Image } from 'astro:assets'
---

<footer>
  <div class='wrapper'>
    <div class='footer-content'>
      <div class='footer-cta'>
        <h3 class='footer-cta-alt'>¿Quieres empezar?</h3>
        <a class='footer-cta-link' href='https://stores.gadmin.app/login' target='_blank'
          >Regístrate gratis.</a
        >
        <div class='footer-socials'>
          <a href='https://www.facebook.com/GadminApp/' target='_blank' aria-label='Facebook'>
            <Facebook size={24} color='#FFFFFF' />
          </a>
          <a href='https://www.instagram.com/gadmin_app' target='_blank' aria-label='Instagram'>
            <Instagram size={24} color='#FFFFFF' />
          </a>
          <a
            href='https://www.linkedin.com/company/gadmin-app/'
            target='_blank'
            aria-label='LinkedIn'
          >
            <LinkedIn size={24} color='#FFFFFF' />
          </a>
          <a href='https://www.youtube.com/@GadminApp' target='_blank' aria-label='Youtube'>
            <Youtube size={24} color='#FFFFFF' />
          </a>
        </div>
      </div>
      <div class='footer-links'>
        <div class='footer-link-section'>
          <h3 class='footer-link-section-title'>Gadmin</h3>
          <div class='footer-link-section-links'>
            <a class='footer-link-section-link' href='/learn'>Tutoriales</a>
            <a class='footer-link-section-link' href='/blog' target='_blank'>Blog</a>
          </div>
        </div>
        <div class='footer-link-section'>
          <h3 class='footer-link-section-title'>Legal</h3>
          <div class='footer-link-section-links'>
            <a class='footer-link-section-link' href='/terms-and-conditions' target='_blank'
              >Términos y Condiciones</a
            >
            <a class='footer-link-section-link' href='/privacy-policy' target='_blank'
              >Política de Privacidad</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class='footer-copy'>
      <Image src={logoBg} width={40} height={40} alt='Logo de Gadmin' />
      <div class='footer-copy-text'><strong>Gadmin</strong> © 2024</div>
    </div>
  </div>
</footer>

<style>
  footer {
    padding: 2rem 1rem;
    background-color: var(--shade-03);
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .footer-cta-alt {
    margin: 0;
    font-size: 1.35rem;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .footer-cta-link {
    display: block;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    margin-bottom: 0.75rem;
  }

  .footer-socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .footer-links {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .footer-link-section-title {
    color: var(--white);
    margin: 0;
    margin-bottom: 0.75rem;
  }

  .footer-link-section-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer-link-section-link {
    color: #d1d1d1;
    text-decoration: none;
  }

  .footer-link-section-link:hover {
    color: var(--white);
    text-decoration: underline;
  }

  .footer-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .footer-copy-text {
    color: var(--white);
    font-size: 1.15rem;
  }

  @media screen and (max-width: 768px) {
    .footer {
      padding: 1rem;
    }

    .footer-content {
      grid-template-columns: 1fr;
      align-items: center;
      gap: 1.5rem;
    }

    .footer-cta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .footer-socials {
      margin-top: 0.5rem;
    }

    .footer-links {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
</style>
