---
const { pathname } = Astro.url
---

<aside class='section'>
  <ul class='list'>
    <li>
      <a
        class:list={{ 'link': true, 'link--current': pathname === '/terms-and-conditions', }}
        href='/terms-and-conditions'>Términos y Condiciones</a
      >
    </li>
    <li>
      <a class:list={{ 'link': true, 'link--current': pathname === '/privacy-policy' }} href='/privacy-policy'
        >Política de privacidad</a
      >
    </li>
    <li>
      <a
        class:list={{ 'link': true, 'link--current': pathname === '/exchanges-and-returns' }}
        href='/exchanges-and-returns'>Política de Cambios y Devoluciones</a
      >
    </li>
  </ul>
</aside>

<style>
  aside {
    flex: 1;
    margin: 10px 0;
  }

  aside .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  aside .list li {
    padding: 0;
    width: 100%;
  }

  aside .list li a {
    text-align: center;
    width: 100%;
    font-size: 22px;
    color: #ebebeb;
    text-decoration: none;
    border-radius: 8px;
    display: block;
    padding: 10px;
  }

  .link {
    background-color: transparent;
    transition: 0.2s ease background-color;
  }

  .link--current {
    background-color: #151b5b;
  }
</style>
