---
import logoBg from '@/assets/img/logo-dark.webp'
import Button from '@/shared/components/Button.astro'
import { Image } from 'astro:assets'

interface Props {
  isFixed?: boolean
  isSuccess?: boolean
}

const { isFixed = true, isSuccess = false } = Astro.props
---

<nav class:list=`nav ${isFixed ? 'nav--fixed' : ''}` transition:persist>
  <div class='wrapper nav-wrapper' data-aos='zoom-in'>
    <a href='/' class='nav-logo'>
      <Image src={logoBg} width={32} height={32} alt='Logo de Gadmin' loading='eager' />
      <p class='nav-logo-title'>Gadmin</p>
    </a>
    <div class='nav-buttons'>
      <Button
        href='https://accounts.gadmin.com/?from=signin'
        target='_blank'
        mode='ghost'
        type='gray'
        style={{ padding: '0.5rem 1rem' }}
      >
        Ingresar
      </Button>
      <Button
        href='https://accounts.gadmin.com/?from=signup'
        target='_blank'
        mode='outlined'
        type='gradient'
        style={{ padding: '0.5rem 1rem' }}
      >
        Registrarme
      </Button>
    </div>
  </div>
</nav>

<style>
  .nav {
    width: 100%;
    background-color: transparent;
    transition: 0.2s ease background-color;
    z-index: 100;
  }

  .nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .nav:not(.nav--fixed),
  body.scrolled .nav {
    background-color: var(--shade-03);
  }

  .nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem;
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    text-decoration: none;
  }

  .nav-logo-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
  }

  .nav-buttons {
    justify-content: flex-end;
  }

  @media screen and (max-width: 768px) {
    .nav-wrapper {
      grid-template-columns: auto 1fr;
    }
  }

  @media screen and (max-width: 1024px) {
    .nav-logo:not(.nav-logo--mobile) .nav-logo-title {
      display: none;
    }
  }
</style>
