<div class='pricing__cards-container' data-aos='flip-left'>
  <div class='pricing__cards'>
    <slot />
  </div>
</div>

<style>
  .pricing__cards-container {
    position: relative;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .pricing__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    gap: 1.5rem;
    margin-top: 4rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
  }
</style>
