<p class='pricing__section-name' data-aos='zoom-in'>Precios</p>
<h1 class='pricing__title' data-aos='fade-right'>Planes para negocios de todos los tamaños</h1>
<h2 class='pricing__subtitle' data-aos='fade-left'>
  Elija un plan asequible que incluya las mejores funciones para su tienda.
</h2>

<style>
  .pricing__section-name {
    text-align: center;
    color: var(--primary);
    font-size: var(--32-pt);
    font-weight: bold;
    margin: 0;
  }

  .pricing__title {
    text-align: center;
    color: white;
    font-size: var(--48-pt);
    margin: 1rem 0;
    padding: 0 1rem;
  }

  .pricing__subtitle {
    text-align: center;
    font-size: var(--32-pt);
    font-weight: 500;
    margin: 2rem;
    color: var(--primary-3);
  }
</style>
