<h1 class='pricing__title' data-aos='zoom-in'>Descuentos de por vida</h1>
<h2 class='pricing__subtitle' data-aos='zoom-in'>
  Válidos para todas las suscripciones de Gadmin en tu cuenta.
  <br />
  Esta oferta solo estará disponible hasta el día del lanzamiento. ⏳
</h2>

<style>
  .pricing__title {
    text-align: center;
    color: var(--shade-03);
    font-size: var(--48-pt);
    margin: 1rem 0;
    padding: 0 1rem;
  }

  .pricing__subtitle {
    text-align: center;
    font-size: var(--32-pt);
    font-weight: 500;
    margin: 2rem;
    color: var(--shade-04);
  }
</style>
