<h2 class='pricing__title' data-aos='zoom-in'>Planes de Preventa</h2>
<p class='pricing__subtitle' data-aos='zoom-in'>
  Si Gadmin te parece una buena idea y crees que te ayudará, compra un plan de preventa.
  <br />
  Obtendrás un descuento de por vida en tu espacio de trabajo de Gadmin.
  <br /><br />
  <small>Esta oferta solo estará disponible hasta el día del lanzamiento. ⏳</small>
</p>

<style>
  .pricing__title {
    text-align: center;
    color: var(--shade-03);
    font-size: var(--48-pt);
    margin: 1rem 0;
    padding: 0 1rem;
  }

  .pricing__subtitle {
    text-align: center;
    font-size: var(--32-pt);
    font-weight: 500;
    margin: 2rem;
    color: var(--shade-03);
    line-height: 1.45;
  }
</style>
