---
import WhatsAppIcon from '../icons/WhatsApp.astro'
---

<div class='card card-close' id='whatsApp-card'>
  <header class='card__header'>
    <div class='card__header__icon'>
      <WhatsAppIcon size={42} color='#ffffff' />
    </div>

    <div class='card__header--texts'>
      <h3 class='card__header--tittle'>Empieza una conversación</h3>
      <p class='card__header--text'>
        ¡Hola! Haga clic en uno de nuestros miembros a continuación para chatear en <span
          class='card__header__text__strong'
        >
          WhatsApp ;)</span
        >
      </p>
    </div>
  </header>
  <section class='card__content'>
    <span class='card__teamReplies'>El equipo suele responder en unos minutos.</span>
    <div class='card__chats'>
      <slot />
    </div>
  </section>
</div>

<style>
  .card {
    position: relative;
    max-width: 350px;
    height: 80vh;
    max-height: 400px;
    margin-left: 2rem;
    background-color: white;
    border-radius: 10px;
    opacity: 1;
    transform: translateY(-3.5rem);
    transition: all 0.3s ease;
    box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.05);
  }

  .card:hover {
    box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.2);
  }

  .card-close {
    transform: translateY(130px);
    opacity: 0;
  }

  .card__header {
    padding: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2db742;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card__header__icon {
    flex: 1;
  }

  .card__header--texts {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .card__header--tittle {
    margin: 0;
    color: white;
    font-weight: 300;
  }

  .card__header--text {
    margin: 0;
    font-size: 0.75rem;
    color: white;
    font-weight: 300;
    line-height: 1.5;
  }

  .card__header__text__strong {
    font-weight: 500;
  }

  .card__content {
    padding: 1rem 1.5rem;
  }

  .card__teamReplies {
    margin: 0;
    font-size: 0.75rem;
    color: rgb(177, 177, 177);
    font-weight: 300;
  }

  .card__chats {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
  }
</style>
