---
import WhatsAppIcon from '../icons/WhatsApp.astro'
import XMark from '../icons/X-Mark.astro'

interface Props {
  top?: number
  right?: number
  bottom?: number
  left?: number
}

const { top, right, bottom, left } = Astro.props
---

<script>
  const whatsApp = document.getElementById('whatsApp-button')
  const whatsAppIcon = document.getElementById('whatsAppIcon')
  const whatsAppXmark = document.getElementById('whatsAppXmark')

  import { setState, updateCard } from './state'

  whatsApp?.addEventListener('click', () => {
    const state = setState()
    updateButtonClass(state)
    updateIcons(state)
    updateCard()
  })

  function updateButtonClass(state: boolean) {
    if (state) {
      whatsApp?.classList.add('whatsApp--open')
    } else {
      whatsApp?.classList.remove('whatsApp--open')
    }
  }

  function updateIcons(state: boolean) {
    if (state) {
      whatsAppIcon?.classList.add('whatsApp__icon--close')
      whatsAppXmark?.classList.remove('whatsApp__icon--close')
    } else {
      whatsAppIcon?.classList.remove('whatsApp__icon--close')
      whatsAppXmark?.classList.add('whatsApp__icon--close')
    }
  }
</script>

<div
  id='whatsApp-button'
  class=`whatsApp`
  style={`
  ${top !== undefined ? `top: ${top}rem;` : ''}
  ${bottom !== undefined && top === undefined ? `bottom: ${bottom}rem;` : ''}
  ${right !== undefined ? `right: ${right}rem; left: inherit;` : ''}
  ${left !== undefined ? `left: ${left}rem; right: inherit;` : ''}
`}
>
  <div class='whatsApp__text--container'>
    <span class='whatsApp__text whatsApp__text--question'>¿Necesitas ayuda?</span>
    <span class='whatsApp__text whatsApp__text--answer'>Habla con nosotros</span>
  </div>
  <div class='whatsApp__icon--container'>
    <div id='whatsAppIcon' class='whatsApp__icon'>
      <WhatsAppIcon size={32} color='#FFFFFF' />
    </div>
    <div id='whatsAppXmark' class='whatsApp__icon whatsApp__icon--close'>
      <XMark size={32} color='#FFFFFF' />
    </div>
  </div>
</div>

<style>
  .whatsApp {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    z-index: 110;
  }

  .whatsApp__text--container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.4s ease;
  }

  .whatsApp:hover .whatsApp__text--container {
    opacity: 1;
  }

  .whatsApp--open .whatsApp__text--container {
    transform: translateY(30px);
    opacity: 0 !important;
  }

  .whatsApp__text {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
  }

  .whatsApp__text--answer {
    font-weight: bold;
  }

  .whatsApp__icon--container {
    background-color: #2db742;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  .whatsApp--open .whatsApp__icon--container {
    transform: rotate(360deg);
  }

  .whatsApp__icon {
    position: absolute;
    display: grid;
    align-content: center;
    transform: scale(1);
    transition: transform 0.3s ease;
  }

  .whatsApp__icon--close {
    transform: scale(0);
  }
</style>
