---
import WhatsAppButton from './WhatsAppButton.astro'
import WhatsAppCard from './WhatsAppCard.astro'

interface Props {
  top?: number
  right?: number
  bottom?: number
  left?: number
}

const { top, right, bottom, left } = Astro.props
---

<script>
  const button = document.getElementById('button')
  const whatsAppButton = document.querySelector('.whatsAppButton')
  button?.addEventListener('click', () => {
    whatsAppButton?.classList.toggle('whatsApp-open')
  })
</script>

<div
  class='whatsApp'
  style={`
  ${top !== undefined ? `top: ${top}rem;` : ''}
  ${bottom !== undefined && top === undefined ? `bottom: ${bottom}rem;` : ''}
  ${right !== undefined ? `right: ${right}rem; left: inherit;` : ''}
  ${left !== undefined ? `left: ${left}rem; right: inherit;` : ''}
`}
>
  <div class='whatsApp__button-container' id='button'>
    <WhatsAppButton className='whatsAppButton' bottom={2} right={2} />
  </div>
  <div class='whatsApp__card-container'>
    <WhatsAppCard />
  </div>
</div>

<style>
  .whatsApp {
    position: fixed;
    z-index: 100;
  }
  .whatsApp__button-container {
    display: flex;
    justify-content: center;
  }
</style>
