---
import Benefits from '../components/Benefits.astro'
import CTA from '../components/CTA.astro'
import Features from '../components/Features.astro'
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
import Nav from '../components/Nav.astro'
import Presentation from '../components/Presentation.astro'
import Testimonials from '../components/Testimonials.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Gadmin - Tu tienda online en 5 minutos'
  description='Crea tu propia tienda online en instantes y aumenta tus ventas hasta un 90% en el primer trimestre.'
>
  <main>
    <Nav />
    <Hero />
    <Benefits />
    <Presentation />
    <Features />
    <Testimonials />
    <CTA />
    <Footer />
  </main>
</Layout>
