---
import Footer from '@/shared/components/Footer.astro'
import Nav from '@/shared/components/Nav.astro'
import Layout from '@/shared/layouts/Layout.astro'
---

<Layout
  title='Gadmin - Planes y precios'
  description='Descubre los planes que Gadmin tiene para ti y empieza tu tienda online hoy mismo desde $4.99 al mes.'
>
  <Nav />
  <div class='home'>
    <div class='wrapper'>
      <h1 style='text-align: center;color: white;'>Planes y precios.</h1>
      <h2 style='text-align: center;color: white;'>
        Descubre los planes que Gadmin tiene para ti.
      </h2>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .home {
    background-color: #0eaaf9;
    background-image: linear-gradient(135deg, #01283c, #0b321c);
    min-height: calc(100svh - 6rem);
    padding-top: 6rem;
  }
</style>
