---
import Footer from '@/shared/components/Footer.astro'
import LegalLinks from '@/shared/components/LegalLinks.astro'
import Nav from '@/shared/components/Nav.astro'
import Layout from '@/shared/layouts/Layout.astro'
---

<Layout
  title='Gadmin - Política de privacidad'
  description='Crea tu propia tienda online en instantes y aumenta tus ventas hasta un 90% en el primer trimestre.'
  withSEO={true}
>
  <Nav isFixed={false} />
  <div class='full-page'>
    <div class='wrapper'>
      <main class='section'>
        <h1>POLÍTICA DE PRIVACIDAD DE DATOS PERSONALES</h1>
        <p>La siguiente Política de privacidad está vigente a partir del 22 de Mayo de 2023.</p>
        <hr />
        <p>
          La Política de Privacidad de Gadmin describe cómo Gadmin recopila, usa y divulga su
          información.
        </p>
        <p>
          Esta Política de Privacidad también explica sus opciones sobre cómo usamos su información
          personal e incluye cómo puede oponerse a ciertos usos de la información y cómo puede
          acceder y actualizar cierta información.
        </p>
        <p>
          Aquí hay algunas definiciones importantes para ayudarlo a comprender nuestros términos y
          esta Política de privacidad:
        </p>
        <p>Gadmin, se denomina como “Gadmin,” “nosotros,” y “nuestro.”</p>
        <p>
          Nuestros sitios web públicos, incluido <a href='https://gadmin.app/' rel='noopener noreferrer' target='_blank'
            >www.gadmin.app</a
          >
          se denominan el “Sitio web.”.
        </p>
        <p>
          Nuestra plataforma de software como servicio en línea, incluidas las API relacionadas
          proporcionadas por Gadmin, junto con todas las aplicaciones móviles y de escritorio
          relacionadas (incluidas las aplicaciones Cron) se denominan colectivamente como los
          “Servicios.”.
        </p>
        <p>
          El contenido enviado, publicado o modificado por los usuarios en el Servicio se organiza
          en secciones separadas que se denominan "Tiendas".
        </p>
        <!-- # Table of Contents -->
        <h2 class='table-content' id='table-of-contents'>Tabla de Contenidos</h2>
        <div class='table-content-container'>
          <a class='table-content__button' href='#table-of-contents'>Tabla de Contenidos</a>
          <a class='table-content__button' href='#1-information-we-collect'
            >1. Información que recopilamos</a
          >
          <a class='table-content__button' href='#2-how-we-use-information'
            >2. Cómo utilizamos su información</a
          >
          <a class='table-content__button' href='#3-disclosing-your-information'
            >3. Divulgación de su información</a
          >
          <a class='table-content__button' href='#4-international data transfers'
            >4. Transferencias internacionales de datos</a
          >
          <a class='table-content__button' href='#5-your-choices'>5. Tus opciones</a>
          <a class='table-content__button' href='#6-your-privacy-rights'
            >6. Sus derechos de privacidad</a
          >
          <a class='table-content__button' href='#7-data-retention'>7. Retención de datos</a>
          <a class='table-content__button' href='#8-security-of-information'
            >8. Seguridad de su información</a
          >
          <a class='table-content__button' href='#9-thirdparty-websites-applications'
            >9. Sitios web y aplicaciones de terceros</a
          >
          <a class='table-content__button' href='#10-childrens-information'
            >10. Información para niños</a
          >
          <a class='table-content__button' href='#11-supervisory-authority'
            >11. Autoridad de control</a
          >
          <a class='table-content__button' href='#12-changes-to-our-privacy-policy'
            >12. Cambios a Nuestra Política de Privacidad</a
          >
        </div>
        <br />
        <br />
        <!-- # 1 -->
        <h2 id='1-information-we-collect'>1. Información que recopilamos</h2>
        <p>
          Recopilamos información cuando usted nos la proporciona, cuando utiliza nuestro sitio web
          o nuestros servicios y cuando otras fuentes nos la proporcionan, como se describe con más
          detalle a continuación.
        </p>
        <p>
          <b>A. Información que usted nos proporciona</b>
        </p>
        <p>
          <b>Creación de cuenta:</b> cuando crea una cuenta o utiliza los Servicios de otra manera, recopilamos
          información como su nombre, dirección de correo electrónico, contraseña, función dentro de
          su equipo o empresa y una foto de perfil opcional.
        </p>
        <p>
          <b>Sus comunicaciones con nosotros:</b> recopilamos información suya, como su dirección de
          correo electrónico, número de teléfono o dirección postal, cuando solicita información sobre
          nuestros Servicios, se registra para recibir nuestro boletín informativo, solicita asistencia
          técnica o de atención al cliente o se comunica con nosotros de cualquier otra forma. También
          recopilamos el contenido de los mensajes o archivos adjuntos que nos envíe, así como otra información
          que elija proporcionar y que pueda estar asociada a sus comunicaciones.
        </p>
        <p>
          <b>Información de pago:</b> cuando compre una suscripción a los Servicios, deberá proporcionar
          información de pago (por ejemplo, detalles de la cuenta financiera, información de envío) para
          procesar su suscripción. Utilizamos proveedores de pago externos para procesar los pagos en
          los Servicios. Podemos recibir información asociada con su información de pago, como la dirección
          de facturación y la información de la transacción, pero no almacenamos directamente la información
          de pago en los Servicios. La información de pago es almacenada y procesada por nuestros proveedores
          de pago en nuestro nombre.
        </p>
        <p>
          <b>Encuestas:</b> Podemos comunicarnos con usted para que participe en encuestas. Si decide
          participar, es posible que se le solicite que proporcione cierta información, que puede incluir
          información de contacto y otra información sobre usted.
        </p>
        <p>
          <b>Funciones interactivas:</b> Podemos ofrecer funciones interactivas como foros, blogs, servicios
          de chat y mensajería, y páginas de redes sociales. Nosotros y otras personas que utilizan nuestro
          sitio web o nuestros servicios podemos recopilar la información que usted envía o pone a disposición
          a través de estas funciones interactivas. Cualquier contenido que proporcione a través de las
          secciones públicas de estas funciones se considerará "público" y no está sujeto a las protecciones
          de privacidad a las que se hace referencia en este documento. Al utilizar estas funciones interactivas,
          usted comprende que la información que usted proporciona puede ser vista y utilizada por terceros
          para sus propios fines.
        </p>
        <p>
          <b>Registro para sorteos o concursos:</b> Podemos realizar sorteos y concursos. La información
          de contacto que proporcione puede utilizarse para informarle sobre el sorteo o concurso y para
          otros fines comerciales, promocionales y de marketing.
        </p>
        <p>
          <b>Conferencias, ferias comerciales y otros eventos:</b> Podemos asistir a conferencias, ferias
          comerciales y otros eventos donde recopilamos información de contacto de personas que interactúan
          o expresan interés en los Servicios.
        </p>
        <p>
          <b>Solicitudes de empleo:</b> Podemos publicar ofertas de empleo y oportunidades en el sitio
          web o los servicios. Si responde a una de estas publicaciones enviándonos su solicitud, CV
          o carta de presentación, recopilaremos y utilizaremos su información para evaluar sus calificaciones.
        </p>
        <p>
          <b>B. Information Collected Automatically</b>
        </p>
        <p>
          <b>Recopilación automática de datos:</b> Hacemos un seguimiento de cierta información sobre
          usted cuando visita e interactúa con nuestro sitio web o nuestros servicios. Esta información
          puede incluir su dirección de protocolo de Internet (IP), configuración de usuario, dirección
          MAC, identificadores de cookies, operador de telefonía móvil, publicidad móvil y otros identificadores
          únicos, detalles sobre su navegador, sistema operativo o dispositivo, información de ubicación
          (incluida la ubicación general inferida en función de su dirección IP), proveedor de servicios
          de Internet, páginas que visita antes, durante y después de usar el sitio web o los servicios,
          información sobre los enlaces en los que hace clic, información sobre cómo interactúa con el
          sitio web o los servicios, incluida la frecuencia y duración de sus actividades, y otra información
          sobre cómo usa el sitio web o los servicios. La información que recopilamos puede estar asociada
          a cuentas y otros dispositivos.
        </p>
        <p>
          <b>Cookies, etiquetas de píxeles/balizas web e información analítica:</b> Nosotros, así como
          terceros que proporcionan contenido, publicidad u otra funcionalidad en los Servicios, podemos
          utilizar cookies, etiquetas de píxeles, almacenamiento local y otras tecnologías (“Tecnologías”)
          para recopilar información automáticamente a través del Sitio web o los Servicios. Las tecnologías
          son esencialmente pequeños archivos de datos que se colocan en sus dispositivos y que nos permiten
          a nosotros y a nuestros socios registrar cierta información cada vez que visita o interactúa
          con nuestros Servicios.
        </p>
        <p>
          <b>Análisis:</b> También podemos utilizar proveedores de servicios externos para recopilar
          y procesar análisis y otra información en nuestro sitio web o nuestros servicios. Estos proveedores
          de servicios externos pueden utilizar tecnologías para recopilar y almacenar análisis y otra
          información. Tienen sus propias políticas de privacidad que abordan cómo utilizan los análisis
          y otra información y no tenemos acceso ni control sobre el uso de cookies u otras tecnologías
          de seguimiento por parte de terceros.
        </p>
        <p>
          <b>C. Information from Other Sources</b>
        </p>
        <p>
          Podemos obtener información sobre usted de otras fuentes, incluso a través de servicios y
          organizaciones de terceros. Por ejemplo, si accede a nuestro sitio web o nuestros
          servicios a través de una aplicación de terceros, como un sitio de redes sociales o un
          servicio de inicio de sesión de terceros, podemos recopilar información sobre usted de ese
          tercero que haya puesto a disposición a través de su configuración de privacidad. Además,
          si registra una cuenta de Gadmin o asocia una cuenta de Gadmin con una dirección de correo
          electrónico proporcionada por su organización, podemos obtener información de proveedores
          externos de enriquecimiento de datos para ayudarnos a adaptar mejor el marketing y la
          difusión de ventas entre empresas a usted.
        </p>
        <p>
          Si decide utilizar la función Contactos de Google dentro de nuestros Servicios, podremos
          ver sus contactos a través de la API de Google People. El único uso de estos datos es
          completar automáticamente sus contactos al enviar correos electrónicos de invitación.
          Gadmin no utilizará estos datos para ningún otro fin.
        </p>

        <!-- # 2 -->
        <h2 id='2-how-we-use-information'>2. Cómo utilizamos su información</h2>
        <p>Utilizamos su información para una variedad de propósitos comerciales, que incluyen:</p>
        <p>
          <b>Proporcionar los Servicios o la Información Solicitada, tales como:</b>
        </p>
        <ul>
          <li>Cumplir nuestro contrato con usted;</li>
          <li>
            Identificarlo y comunicarnos con usted, incluido el envío de boletines informativos y
            materiales de marketing;
          </li>
          <li>Gestionar su información;</li>
          <li>
            Procesar sus pagos (que son procesados ​​y almacenados por nuestros procesadores de
            pagos externos en nuestro nombre) y, de otro modo, atender sus órdenes de compra;
          </li>
          <li>Responder a preguntas, comentarios y otras solicitudes;</li>
          <li>
            Proporcionar acceso a determinadas áreas, funcionalidades y características de nuestros
            Servicios; y
          </li>
          <li>Responder solicitudes de soporte técnico o de clientes.</li>
        </ul>
        <p>
          <b>Serve Administrative and Communication Purposes, such as:</b>
        </p>
        <ul>
          <li>
            Perseguir intereses legítimos, como investigación y desarrollo (incluida la
            investigación de mercados), seguridad de la red y de la información y prevención del
            fraude;
          </li>
          <li>
            Envío de comunicaciones sobre nuevas características de productos, promociones, socios
            estratégicos de Gadmin y otras noticias sobre Gadmin;
          </li>
          <li>
            Medir el interés y la participación en nuestros Servicios, incluido el análisis de su
            uso de los mismos;
          </li>
          <li>Desarrollar nuevos productos y servicios y mejorar los Servicios;</li>
          <li>Garantizar el control interno de calidad y seguridad;</li>
          <li>Autenticar y verificar identidades individuales;</li>
          <li>Realizar auditorías;</li>
          <li>
            Comunicarnos con usted acerca de su cuenta, actividades en nuestros Servicios y cambios
            en la Política de Privacidad;
          </li>
          <li>Prevenir y perseguir actividades potencialmente prohibidas o ilegales;</li>
          <li>Hacer cumplir nuestros acuerdos; y</li>
          <li>Cumplir con nuestras obligaciones legales</li>
        </ul>
        <p>
          <b>Facilitar la colaboración en una tienda:</b> Si se une a una tienda propiedad de otro usuario
          u organización, o colabora con otros usuarios en Gadmin, Gadmin puede compartir información
          básica sobre usted, como su nombre, dirección de correo electrónico, foto de perfil, nombre
          de la tienda e ID de la tienda con los otros usuarios u organizaciones.
        </p>
        <p>
          <b></b>
          Gestión de tiendas para organizaciones: si registra una cuenta de Gadmin o asocia una cuenta
          de Gadmin con una dirección de correo electrónico proporcionada por su organización, Gadmin
          puede compartir información sobre usted y cualquier tienda de su propiedad o administrado por
          usted con su organización. Dicha información podría incluir su nombre, dirección de correo
          electrónico y foto de perfil, así como el nombre de la tienda, el ID de la tienda, el tamaño
          de la membresía, la fecha de creación de su tienda, la dirección de correo electrónico y el
          contenido dentro de su tienda con su organización. Si se registró para usar los Servicios de
          Gadmin con dicha dirección de correo electrónico, pero no usa los Servicios en relación con
          su organización y no desea que esta información se comparta con su organización, puede transferir
          su cuenta a una dirección de correo electrónico diferente.
        </p>
        <!-- TODO: Para obtener información sobre cómo cambiar la dirección de correo electrónico asociada con su cuenta de Gadmin, siga las instrucciones aquí: https://www.gadmin.app/help/account-settings. Si desea asistencia adicional, comuníquese con team@makeGadmin.com. -->
        <p>
          <b>Comercialización de productos y servicios:</b> De conformidad con los requisitos legales
          aplicables, podemos utilizar su información para personalizar y proporcionarle contenido y
          anuncios. Si tiene alguna pregunta sobre nuestras prácticas de marketing o si desea optar por
          no utilizar su información con fines de marketing, puede comunicarse con nosotros como se indica
          a continuación.
        </p>
        <p>
          <b>Consentimiento:</b> Podemos utilizar información personal para otros fines que se le revelan
          claramente en el momento en que proporciona información personal o con su consentimiento.
        </p>
        <p>
          <b>Uso de información anónima y agregada:</b> Podemos utilizar información anónima y/o agregada
          que ya no pueda vincularse razonablemente con usted o su dispositivo a partir de la información
          que recopilamos. La información anónima y/o agregada no está sujeta a esta Política de privacidad,
          y podemos usar y divulgar dicha información de diversas maneras, incluidas investigaciones,
          análisis internos, analíticas y cualquier otro propósito legalmente permitido.
        </p>
        <p>
          <b>Procesamiento de información en nombre de nuestros clientes:</b> nuestros clientes pueden
          optar por utilizar nuestros Servicios para procesar determinados datos propios, que pueden
          contener información de usted o sobre usted. La información personal que procesamos en nombre
          de nuestros clientes y nuestras prácticas de privacidad se regirán por los contratos que tenemos
          con nuestros clientes, no por esta Política de privacidad.
        </p>
        <p>
          Si tiene alguna pregunta o inquietud sobre cómo se maneja dicha información o desea
          ejercer sus derechos, debe comunicarse con la persona o entidad (es decir, el controlador
          de datos) que ha contratado con nosotros para utilizar el Servicio para procesar esta
          información. Nuestros clientes controlan la información en estos casos y determinan la
          configuración de seguridad dentro de la cuenta, sus controles de acceso y credenciales.
          Sin embargo, brindaremos asistencia a nuestros clientes para abordar cualquier inquietud
          que pueda tener, de acuerdo con los términos de nuestro contrato con ellos.
        </p>
        <p>
          <b>Cómo utilizamos las tecnologías de recopilación automática:</b> Nuestros usos de las tecnologías
          se dividen en las siguientes categorías generales:
        </p>
        <ul>
          <li>Operacionalmente necesario;</li>
          <li>Relacionado con el rendimiento;</li>
          <li>Relacionada con la funcionalidad; y</li>
          <li>Relacionado con el marketing.</li>
        </ul>
        <p>
          <b>Seguimiento entre dispositivos:</b> su actividad de navegación puede ser rastreada en diferentes
          sitios web y diferentes dispositivos o aplicaciones. Por ejemplo, podemos intentar hacer coincidir
          su actividad de navegación en su dispositivo móvil con su actividad de navegación en su computadora
          portátil. Para ello, nuestros socios tecnológicos pueden compartir datos, como sus patrones
          de navegación, ubicación geográfica e identificadores de dispositivos, y harán coincidir la
          información del navegador y los dispositivos que parezcan ser utilizados por la misma persona.
        </p>

        <!-- # 3 -->
        <h2 id='3-disclosing-your-information'>3. Divulgación de su información</h2>
        <p>Podemos divulgar su información a las siguientes categorías de terceros:</p>
        <p>
          <b>Proveedores de servicios:</b> Podemos divulgar la información que recopilamos sobre usted
          a nuestros proveedores de servicios externos. Las categorías de proveedores de servicios a
          quienes confiamos su información incluyen proveedores de servicios para: (i) la prestación
          de los Servicios; (ii) la provisión de información, productos y otros servicios que haya solicitado,
          incluidos los Servicios que no son de Notion, tal como se define ese término en el Acuerdo;
          (iii) marketing y publicidad; (iv) procesamiento de pagos y transacciones; (v) actividades
          de servicio al cliente; (vi) la prestación de TI y servicios relacionados; y (vii) prevención
          de fraude y autenticación de usuarios.
        </p>
        <p>
          <b>Socios comerciales:</b> Si lo solicita, podemos proporcionar información a socios comerciales
          para ofrecerle un producto o servicio que le interese. También podemos proporcionar información
          a socios comerciales con quienes ofrecemos productos o servicios de forma conjunta.
        </p>
        <p>
          <b>Afiliados:</b> Podemos divulgar información a nuestras entidades afiliadas, que se encuentran
          bajo propiedad y/o control común con nosotros.
        </p>
        <p>
          <b>Socios publicitarios:</b> No divulgamos ni utilizamos su información para publicitar productos
          o servicios de terceros a través de los Servicios. Sin embargo, como se explica en detalle
          en la sección “Información recopilada automáticamente” anterior, podemos divulgar su información
          a socios publicitarios externos para comercializar nuestros propios Servicios y aumentar la
          base de usuarios de nuestros Servicios, como para proporcionar marketing dirigido sobre nuestros
          propios Servicios a través de servicios de terceros. Consulte las secciones “Sus opciones”
          y “Sus derechos” a continuación para obtener más información y cancelar su suscripción.
        </p>
        <p>
          <b
            >Podremos divulgar su información a otros terceros, incluidos otros usuarios, en las
            siguientes circunstancias:</b
          >
        </p>
        <p>
          <b>Tiendas a los que pueden acceder otros usuarios:</b> cuando envía información en una tienda
          al que pueden acceder otros usuarios, dicha información puede mostrarse a otros usuarios en
          la misma tienda o en tiendas conectadas. Por ejemplo, su información puede incluirse en sus
          notas o recordatorios en una tienda que pueden ver otros usuarios que colaboran con usted en
          esa tienda. Además, su dirección de correo electrónico o su foto pueden mostrarse junto con
          su perfil de tienda a otros usuarios que colaboran con usted en esa tienda.
        </p>
        <p>
          <b>Tiendas organizacionales:</b> Permitimos que las organizaciones accedan a la información
          del perfil de los usuarios dentro de su tienda, incluso para permitir que dicha organización
          valide que dicho usuario esté realmente autorizado por dicha organización para usar los Servicios.
        </p>
        <p>
          <b>Compartir contenido con amigos o colegas:</b> nuestros Servicios pueden permitirle proporcionar
          información sobre sus amigos y pueden permitirle reenviar o compartir determinado contenido
          con un amigo o colega, como un correo electrónico de invitación. Usted acepta proporcionar
          información sobre un amigo o colega únicamente con su consentimiento.
        </p>
        <p>
          <b>Divulgaciones para protegernos a nosotros o a otros:</b> Podemos acceder, preservar y divulgar
          cualquier información que almacenemos en asociación con usted a terceros si, de buena fe, creemos
          que hacerlo es necesario o apropiado para: (i) cumplir con las solicitudes de aplicación de
          la ley o de seguridad nacional y el proceso legal, como una orden judicial o citación; (ii)
          proteger sus derechos, propiedad o seguridad, los nuestros o los de otros; (iii) hacer cumplir
          nuestras políticas o contratos; (iv) cobrar los montos que se nos adeudan; o (v) ayudar con
          una investigación y el enjuiciamiento de una actividad ilegal sospechada o real.
        </p>
        <p>
          <b>Divulgación en caso de fusión, venta u otra transferencia de activos:</b> si estamos involucrados
          en una fusión, adquisición, diligencia debida financiera, reorganización, quiebra, administración
          judicial, compra o venta de algunos o todos los activos, o transición de servicio a otro proveedor,
          entonces su información puede venderse o transferirse como parte de dicha transacción, según
          lo permita la ley y/o el contrato.
        </p>

        <!-- # 4 -->
        <h2 id='4-international data transfers'>4. Transferencias internacionales de datos</h2>
        <p>
          Toda la información que procesamos puede ser transferida, procesada y almacenada en
          cualquier parte del mundo, incluidos, entre otros, los Estados Unidos u otros países, que
          pueden tener leyes de protección de datos diferentes a las leyes de su lugar de
          residencia. Cuando realizamos dichas transferencias, nos esforzamos por proteger su
          información de conformidad con los requisitos de las leyes aplicables.
        </p>

        <!-- # 5 -->
        <h2 id='5-your-choices'>5. Tus opciones</h2>
        <p>
          <b>General:</b> Usted puede tener derecho a oponerse o a rechazar determinados usos de su información.
          Cuando haya dado su consentimiento para el procesamiento de su información para un fin específico,
          puede retirar dicho consentimiento en cualquier momento comunicándose con nosotros como se
          describe a continuación. Incluso si opta por no hacerlo, aún podemos recopilar y usar su información
          para otros fines que no se basaron en su consentimiento.
        </p>
        <p>
          <b>Comunicaciones por correo electrónico:</b> si recibe un correo electrónico nuestro y no
          desea recibir más correos electrónicos nuestros, puede utilizar el enlace para cancelar la
          suscripción que se encuentra en la parte inferior del correo electrónico para dejar de recibir
          correos electrónicos en el futuro. Tenga en cuenta que seguirá recibiendo correos electrónicos
          relacionados con transacciones relacionadas con productos o servicios que haya solicitado.
          También podemos enviarle ciertas comunicaciones no promocionales sobre nosotros y nuestros
          Servicios, y no podrá optar por no recibir dichas comunicaciones (por ejemplo, comunicaciones
          sobre los Servicios o actualizaciones de esta Política de privacidad).
        </p>
        <p>
          <b>Dispositivos móviles:</b> podemos enviarle notificaciones automáticas a través de nuestras
          aplicaciones. Puede optar en cualquier momento por no recibir este tipo de comunicaciones modificando
          la configuración de su dispositivo móvil. Con su consentimiento, también podemos recopilar
          información precisa sobre su ubicación si utiliza nuestras aplicaciones. Puede optar por no
          recibir esta información modificando la configuración de su dispositivo móvil.
        </p>
        <p>
          <b>“No rastrear”:</b> su navegador puede ofrecerle una opción de “No rastrear”, que le permite
          indicar a los operadores de sitios web y aplicaciones web que no desea que dichos operadores
          rastreen ciertas de sus actividades en línea a lo largo del tiempo y/o en diferentes sitios
          web. Como la mayoría de los servicios en línea, actualmente no respondemos a las señales de
          “No rastrear”. Sin embargo, como se explica a continuación en la sección “Sus derechos de privacidad”,
          respetamos los mecanismos basados ​​en navegadores legalmente reconocidos (como el Control
          de privacidad global diseñado para indicar sus opciones de exclusión voluntaria según ciertas
          leyes estatales).
        </p>
        <p>
          <b>Cookies:</b> Puede detener o restringir la instalación de Tecnologías en su dispositivo.
          Notion le ofrece configuraciones para actualizar sus preferencias en nuestros Servicios. Estas
          configuraciones se pueden encontrar en el pie de página de nuestro sitio web. Si tiene una
          cuenta de Notion y ha iniciado sesión en los Servicios, puede acceder a su configuración de
          Cookies en el menú “Configuración y miembros” en la sección “Mis notificaciones y configuraciones”.
          Para obtener más información, consulte nuestro Aviso sobre cookies.
        </p>

        <!-- # 6 -->
        <h2 id='6-your-privacy-rights'>6. Sus derechos de privacidad</h2>
        <p>
          Dependiendo de su ubicación y de acuerdo con las leyes aplicables, usted puede tener
          derecho a:
        </p>
        <ul>
          <li>
            Acceder a información sobre usted de acuerdo con los requisitos legales. Además, en
            algunos casos, usted puede tener derecho a recibir o a que su información electrónica
            sea transferida a otra parte.
          </li>
          <li>Solicitar la corrección de su información cuando sea inexacta o incompleta.</li>
          <li>
            Solicitar la eliminación de su información, sujeto a ciertas excepciones prescritas por
            la ley.
          </li>
          <li>Solicitar restricción u objeción al procesamiento de su información.</li>
          <li>No ser discriminado por nosotros por ejercer sus derechos de privacidad.</li>
        </ul>
        <p>
          Si desea ejercer alguno de estos derechos, comuníquese con nosotros como se indica a
          continuación. Procesaremos dichas solicitudes de acuerdo con las leyes aplicables y, en
          algunas circunstancias, es posible que debamos rechazar su solicitud en su totalidad o en
          parte (por ejemplo, si tenemos la obligación legal de mantener su información para un
          propósito determinado). Para proteger su privacidad, tomaremos medidas para verificar su
          identidad antes de cumplir con su solicitud, por ejemplo, solicitándole que envíe su
          solicitud a través de su cuenta. Tiene derecho a enviar una solicitud a través de un
          agente autorizado, pero le solicitaremos al agente que nos brinde su permiso por escrito y
          es posible que debamos confirmar su identidad antes de procesar la solicitud del agente.
        </p>
        <p>
          Dependiendo de su lugar de residencia, es posible que tenga derecho a apelar nuestra
          respuesta a su solicitud. En tales circunstancias, le informaremos sobre el derecho a
          apelar y el proceso de apelación.
        </p>
        <p>
          <b>Solicitar restricción sobre la venta o el intercambio de "información personal":</b> como
          se explica en la sección "Información recopilada automáticamente" anterior, proporcionamos
          información sobre su dispositivo y sus actividades de navegación en línea a proveedores de
          publicidad externos para publicidad dirigida y fines relacionados, de modo que podamos ofrecerle
          anuncios más relevantes y personalizados con respecto a nuestros Servicios. La divulgación
          de su información a estos terceros para ayudarnos a proporcionar estos servicios puede considerarse
          una "venta" de información personal según la ley aplicable o el procesamiento/intercambio de
          información personal para fines de publicidad dirigida.
        </p>
        <p>
          Tenga en cuenta que si tiene una señal de preferencia de exclusión voluntaria basada en
          navegador legalmente reconocida activada a través del navegador de su dispositivo (por
          ejemplo, control de privacidad global), reconocemos dicha preferencia de acuerdo con la
          ley aplicable.
        </p>

        <!-- # 7 -->
        <h2 id='7-data-retention'>7. Retención de datos</h2>
        <p>
          Almacenamos la información que recibimos según se describe en esta Política de privacidad
          durante el tiempo que utilice nuestros Servicios o según sea necesario para cumplir con
          los fines para los que se recopiló, proporcionar nuestros Servicios, resolver disputas,
          establecer defensas legales, realizar auditorías, perseguir fines comerciales legítimos,
          hacer cumplir nuestros acuerdos y cumplir con las leyes aplicables.
        </p>

        <!-- # 8 -->
        <h2 id='8-security-of-information'>8. Seguridad de su información</h2>
        <p>
          Tomamos medidas para garantizar que su información sea tratada de forma segura y de
          acuerdo con esta Política de privacidad. Lamentablemente, ningún sistema es 100 % seguro y
          no podemos garantizar la seguridad de la información que nos proporcione. En la medida
          máxima permitida por la ley aplicable, no aceptamos responsabilidad por la divulgación no
          autorizada.
        </p>
        <p>
          Al utilizar los Servicios o proporcionarnos información, usted acepta que podemos
          comunicarnos con usted electrónicamente en relación con cuestiones de seguridad,
          privacidad y administrativas relacionadas con su uso de los Servicios. Si nos enteramos de
          una infracción del sistema de seguridad, podemos intentar notificarle electrónicamente
          mediante la publicación de un aviso en los Servicios, por correo postal o enviándole un
          correo electrónico.
        </p>

        <!-- # 9 -->
        <h2 id='9-thirdparty-websites-applications'>9. Sitios web y aplicaciones de terceros</h2>
        <p>
          Los Servicios pueden contener enlaces a otros sitios web o aplicaciones, y estos pueden
          hacer referencia o incluir enlaces a nuestros Servicios. Estos servicios de terceros no
          están controlados por nosotros. Recomendamos a nuestros usuarios que lean las políticas de
          privacidad de cada sitio web y aplicación con la que interactúan. No respaldamos,
          examinamos ni aprobamos, y no somos responsables de las prácticas de privacidad o el
          contenido de dichos sitios web o aplicaciones. La visita a estos otros sitios web o
          aplicaciones se realiza bajo su propio riesgo.
        </p>

        <!-- # 10 -->
        <h2 id='10-childrens-information'>10. Información para niños</h2>
        <p>
          Nuestros Servicios están destinados al público en general y no están dirigidos a niños. Si
          nos damos cuenta de que hemos recopilado datos sin el consentimiento paterno legalmente
          válido de niños menores de una edad en la que se requiere dicho consentimiento, tomaremos
          las medidas razonables para eliminarlos lo antes posible.
        </p>

        <!-- # 11 -->
        <h2 id='11-supervisory-authority'>11. Autoridad de control</h2>
        <p>
          Si se encuentra en el Espacio Económico Europeo o el Reino Unido, tiene derecho a
          presentar una queja ante una autoridad supervisora ​​si cree que nuestro procesamiento de
          su información viola la ley aplicable.
        </p>

        <!-- # 12 -->
        <h2 id='12-changes-to-our-privacy-policy'>12. Cambios a Nuestra Política de Privacidad</h2>
        <p>
          Podemos revisar esta Política de privacidad de vez en cuando a nuestro exclusivo criterio.
          Si se producen cambios sustanciales en esta Política de privacidad, se lo notificaremos
          según lo exija la ley aplicable. Usted comprende y acepta que se considerará que ha
          aceptado la Política de privacidad actualizada si continúa utilizando los Servicios
          después de que la nueva Política de privacidad entre en vigor.
        </p>
        <p>
          <b>Contact us:</b>
        </p>
        <p>
          Si tiene alguna pregunta sobre nuestras prácticas de privacidad o esta Política de
          privacidad, contáctenos a:
        </p>
        <p>
          Gadmin<br />
          contacto@gadmin.app
        </p>
      </main>
      <LegalLinks />
    </div>
  </div>
</Layout>
<Footer />

<style>
  .full-page {
    background-color: #070a2b;
    min-height: calc(100svh - 6rem);
    padding-top: 6rem;
  }

  /* TODO: Esta clase debe ser global. */
  .wrapper {
    width: 100%;
    max-width: 1080px;
    display: grid;
    grid-template-columns: 7fr 3fr;
    color: var(--neutral-04);
    gap: 1rem;
    padding: 0 1rem;
  }

  .table-content {
    margin-bottom: 0.5rem;
  }

  .table-content-container {
    display: flex;
    flex-direction: column;
  }

  .table-content__button {
    display: block;
    color: var(--neutral-06);
    text-decoration: underline;
    padding: 0.5rem;
    padding-left: 0.25rem;
    border-radius: 2px;
    transition: background-color 0.1s ease;
  }

  .table-content__button:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  /* TODO: Mover cuando wrapper sea global*/
  @media screen and (max-width: 768px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
</style>
