---
import Nav from '@/shared/components/Nav.astro'
import Layout from '@/shared/layouts/Layout.astro'

const userEmail = Astro.url.searchParams.get('email') || ''
const sessionId = Astro.url.searchParams.get('session_id') || ''

if (!userEmail || !sessionId) {
  return Astro.redirect('/')
}

try {
  const res = await fetch('https://api.gadmin.app/api/v2/landing/success-payment', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ email: userEmail, sessionId: sessionId }),
  })
  const response = await res.json()

  if (!response.data?.ok) {
    return Astro.redirect('/?successError=true')
  }
} catch (error) {
  console.error('Error validating payment:', error)
  return Astro.redirect('/?successError=true')
}
---

<Layout
  title='Gadmin - Pago exitoso'
  description='¡Gadminastico! ¡Eres de los más privilegiados Gadminautas!'
>
  <Nav isSuccess={true} />
  <div class='success-bg'>
    <div class='wrapper success'>
      <h1 class='text-center'>¡Gadminástico!</h1>
      <p>¡Bienvenido, gadminauta! Tu pago ha sido procesado exitosamente.</p>
      <p>
        En breve te llegará un correo a <strong>{userEmail}</strong> con tu cupón de Gadmin.
      </p>
      <p class='small'>
        Si este no es tu correo, escríbele al CEO por <a
          href='https://www.linkedin.com/in/orlandobricenob/'>LinkedIn</a
        > o por correo a
        <a href='mailto:hola@gadmin.app'>hola@gadmin.app</a> para cambiarlo.
      </p>
    </div>
  </div>
</Layout>

<style>
  .success-bg {
    background-color: var(--shade-03);
  }

  .success {
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 1rem;

    color: var(--white);
  }

  .success h1 {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin-bottom: 0.75rem;
    font-size: var(--64-pt);
  }

  .success p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }

  .success .small {
    margin-top: 2rem;
    font-size: var(--20-pt);
  }
</style>
