---
import Footer from '@/shared/components/Footer.astro'
import LegalLinks from '@/shared/components/LegalLinks.astro'
import Nav from '@/shared/components/Nav.astro'
import Layout from '@/shared/layouts/Layout.astro'
---

<Layout
  title='Gadmin - Términos y condiciones de uso'
  description='Términos y condiciones de uso de Gadmin. Lea atentamente estos términos antes de utilizar nuestros servicios y plataforma de software.'
  withSEO={true}
>
  <Nav isFixed={false} />
  <div class='full-page'>
    <div class='wrapper'>
      <main class='section section--legal'>
        <!-- Terms Presentation -->
        <h1>Términos de servicio de uso personal</h1>
        <p>
          Estos términos de servicio de uso personal estarán vigentes a partir de Mayo 22, 2023.
        </p>
        <hr />
        <p>
          Lea atentamente estos Términos de servicio de uso personal ("Términos" o "Términos de
          servicio") antes de utilizar el sitio web www.gadmin.app y los Servicios operados por
          Gadmin. ("Gadmin", "nosotros" o "nuestro"). A los efectos de estos Términos, "usted" y
          "su" significan usted como usuario del Servicio. "Servicios" significa la plataforma y los
          servicios de software como servicio en línea de Gadmin, incluidas todas las API
          relacionadas proporcionadas por Gadmin, junto con todas las aplicaciones móviles y de
          escritorio relacionadas y los complementos a los que se suscriba. "Servicios" excluye los
          Servicios que no son de Gadmin.
        </p>
        <p>
          Su acceso y uso del Servicio está sujeto a la aceptación y cumplimiento de estos Términos.
          Estos Términos se aplican a todos los visitantes, usuarios y otras personas que deseen
          acceder o utilizar el Servicio. Estos Términos se aplican únicamente al uso personal de
          los Servicios. Usted reconoce que estos Términos, junto con la Política de privacidad de
          Gadmin, rigen su acceso y uso del Servicio.
        </p>
        <p>
          Al acceder o utilizar el Servicio, usted acepta estar sujeto a estos Términos. Si no está
          de acuerdo con alguna parte de estos Términos, no tendrá permiso para acceder al Servicio.
        </p>
        <!-- # Table of Contents -->
        <h2 class='table-content' id='table-of-contents'>Tabla de Contenidos</h2>
        <div class='table-content-container'>
          <a class='table-content__button' href='#table-of-contents'>Tabla de Contenidos</a>
          <a class='table-content__button' href='#1-content'>1. Contenido</a>
          <a class='table-content__button' href='#2-restrictions'
            >2. Restricciones en el uso del servicio</a
          >
          <a class='table-content__button' href='#3-accounts'>3. Cuentas</a>
          <a class='table-content__button' href='#4-workspaces'>4. Espacios de trabajo</a>
          <a class='table-content__button' href='#5-interacting-org-workspaces'
            >5. Interacción con espacios de trabajo organizacionales</a
          >
          <a class='table-content__button' href='#6-subscriptions'>6. Suscripciones</a>
          <a class='table-content__button' href='#7-fees'>7. Tarifas y cambios de tarifas</a>
          <a class='table-content__button' href='#8-free-trial-and-beta'
            >8. Pruebas gratuitas y servicios beta</a
          >
          <a class='table-content__button' href='#9-refunds'>9. Reembolsos</a>
          <a class='table-content__button' href='#10-communications-gadmin'
            >10. Comunicaciones desde Gadmin</a
          >
          <a class='table-content__button' href='#11-copyright-policy'
            >11. Política de derechos de autor</a
          >
          <a class='table-content__button' href='#12-intellectual-property'
            >12. Propiedad intelectual</a
          >
          <a class='table-content__button' href='#13-feedback'>13. Retroalimentación</a>
          <a class='table-content__button' href='#14-termination'>14. Terminación</a>
          <a class='table-content__button' href='#15-indemnification'>15. Indemnización</a>
          <a class='table-content__button' href='#16-limitations-of-liability'
            >16. Limitaciones de responsabilidad</a
          >
          <a class='table-content__button' href='#17-disclaimer'>17. Descargo de responsabilidad</a>
          <a class='table-content__button' href='#18-exclusions'>18. Exclusiones</a>
          <a class='table-content__button' href='#19-confidential-information'
            >19. Información confidencial</a
          >
          <a class='table-content__button' href='#20-mobile-app-terms'
            >20. Condiciones de la aplicación móvil</a
          >
          <a class='table-content__button' href='#21-changes'>21. Cambios</a>
          <a class='table-content__button' href='#22-waiver'>22. Renuncia</a>
          <a class='table-content__button' href='#23-entire-agreement'>23. Acuerdo completo</a>
          <a class='table-content__button' href='#24-survival'>24. Supervivencia</a>
          <a class='table-content__button' href='#contact-us'>Contacta con nosotros</a>
        </div>
        <br />
        <br />
        <br />
        <!-- # 1. Content -->
        <h2 id='1-content'>1. Contenido</h2>
        <p>
          A los efectos de estos Términos: (i) “Contenido de Gadmin” significa texto, gráficos,
          imágenes, música, software, modelos de aprendizaje automático, audio, video, trabajos de
          autoría de cualquier tipo e información u otros materiales que Gadmin o sus licenciantes
          publiquen, generen, proporcionen o pongan a disposición de otro modo a través del
          Servicio; y (ii) “Contenido del Usuario” significa cualquier Contenido que usted
          proporcione para que esté disponible a través del Servicio (excluido el Contenido de la
          Organización). El Contenido del Usuario incluye cualquier Resultado. En conjunto, el
          Contenido de Gadmin, el Contenido del Usuario y el Contenido de la Organización se
          denominan “Contenido”.
        </p>
        <p>
          <strong
            >Propiedad del contenido: No reclamamos ningún derecho de propiedad sobre ningún
            Contenido de usuario</strong
          > y nada en estos Términos se considerará que restringe los derechos que pueda tener para usar
          y explotar su Contenido de usuario. Sujeto a lo anterior, Gadmin y sus licenciantes poseen
          exclusivamente todos los derechos, títulos e intereses en y para el Servicio y el Contenido
          de Gadmin, incluidos todos los derechos de propiedad intelectual asociados. Usted reconoce
          que el Servicio y el Contenido de Gadmin están protegidos por derechos de autor, marca registrada
          y otras leyes de los Estados Unidos y países extranjeros. Usted acepta no eliminar, alterar
          u ocultar ningún derecho de autor, marca registrada, marca de servicio u otros avisos de derechos
          de propiedad incorporados o que acompañen al Servicio o al Contenido de Gadmin.
        </p>
        <p>
          <strong>Derechos sobre el Contenido del Usuario otorgados por usted:</strong> Al poner a disposición
          cualquier Contenido del Usuario a través del Servicio, usted otorga por la presente a Gadmin
          una licencia no exclusiva, transferible, mundial y libre de regalías, con el derecho a sublicenciar,
          usar, alojar, almacenar en caché, almacenar, reproducir, transmitir, exhibir públicamente,
          ejecutar públicamente, publicar, distribuir y modificar (solo para fines de formato), su Contenido
          del Usuario únicamente en relación con la operación y provisión del Servicio y el Contenido
          de Gadmin para usted y, dependiendo del permiso que usted otorgue, para otros usuarios, individuos
          y/u organizaciones. Sujeto a la licencia anterior, entre Gadmin y usted, usted conserva todos
          y cada uno de sus derechos sobre su Contenido del Usuario. Usted reconoce que si proporciona
          Contenido de la Organización (como se define a continuación), entonces la propiedad de dicho
          Contenido de la Organización puede ser la establecida en cualquier acuerdo entre usted y la
          Organización, y en ausencia de dicho acuerdo, entonces entre usted y la Organización, la Organización
          puede ser propietaria de los derechos sobre dicho Contenido de la Organización.
        </p>
        <p>
          <strong>Su responsabilidad por el Contenido de usuario:</strong> Usted es el único responsable
          de su Contenido de usuario. Usted declara y garantiza que es el propietario de su Contenido
          de usuario o que tiene todos los derechos necesarios para otorgarnos los derechos de licencia
          sobre su Contenido de usuario según estos Términos. También declara y garantiza que ni su Contenido
          de usuario, ni su uso y provisión de su Contenido de usuario para que esté disponible a través
          del Servicio, ni ningún uso de su Contenido de usuario por parte de Gadmin en o a través del
          Servicio infringirá, se apropiará indebidamente o violará los derechos de propiedad intelectual
          de un tercero, o los derechos de publicidad o privacidad, o resultará en la violación de cualquier
          ley o regulación aplicable o violará cualquier acuerdo que tenga con un tercero.
        </p>
        <p>
          <strong>Eliminación de Contenido de Usuario:</strong> Puede eliminar su Contenido de Usuario
          que designe como privado eliminándolo específicamente. Sin embargo, es posible que parte de
          su Contenido de Usuario no se elimine por completo y que sigan existiendo copias de su Contenido
          de Usuario en el Servicio. Los detalles adicionales con respecto a la eliminación y el almacenamiento
          del Contenido de Usuario se establecen en la Sección 15 (Terminación) a continuación.
        </p>
        <p>
          <strong>Derechos sobre el contenido otorgados por Gadmin:</strong> Sujeto a su cumplimiento
          de estos Términos, Gadmin le otorga una licencia limitada, no exclusiva, intransferible, sin
          derecho a sublicenciar, para descargar, ver, copiar, mostrar e imprimir el Contenido de Gadmin
          únicamente en relación con su uso permitido de los Servicios y únicamente para sus fines personales
          y no comerciales.
        </p>
        <p>
          <strong>Política de contenido y uso de Gadmin y monitoreo de contenido:</strong> Usted acepta
          que su uso del Servicio y todo el Contenido del usuario cumplirá con la Política de contenido
          y uso de Gadmin. Aunque no estamos obligados a monitorear el acceso o uso del Servicio o el
          Contenido ni a revisar o editar ningún Contenido, tenemos el derecho de hacerlo con el propósito
          de operar el Servicio, para garantizar el cumplimiento de estos Términos y para cumplir con
          la ley aplicable u otros requisitos legales. Nos reservamos el derecho, pero no estamos obligados,
          a eliminar o deshabilitar el acceso a cualquier Contenido, incluido el Contenido del usuario,
          en cualquier momento y sin previo aviso, incluido, entre otros, si, a nuestro exclusivo criterio,
          consideramos que algún Contenido es objetable o infringe estos Términos. Tenemos el derecho
          de investigar las violaciones de estos Términos o la conducta que afecte a los Servicios. También
          podemos consultar y cooperar con las autoridades policiales para procesar a los usuarios que
          violen la ley.
        </p>
        <!-- # 2. Restrictions -->
        <h2 id='2-restrictions'>2. Restricciones en el uso del servicio</h2>
        <p>
          No puede realizar ninguna de las siguientes acciones, a menos que las leyes o
          reglamentaciones aplicables prohíban estas restricciones o cuente con nuestro permiso
          expreso por escrito para hacerlo:
        </p>
        <ul>
          <li>
            publicar, cargar, publicar, enviar o transmitir cualquier Contenido de Usuario que: (i)
            infrinja, se apropie indebidamente o viole la patente, los derechos de autor, la marca
            registrada, el secreto comercial, los derechos morales u otros derechos de propiedad
            intelectual de un tercero, o los derechos de publicidad o privacidad; (ii) viole o
            fomente cualquier conducta que viole cualquier ley o regulación aplicable o que dé lugar
            a responsabilidad civil; (iii) sea fraudulento, falso, engañoso o fraudulento; (iv) sea
            difamatorio, obsceno, pornográfico, vulgar u ofensivo; (v) promueva la discriminación,
            la intolerancia, el racismo, el odio, el acoso o el daño contra cualquier individuo o
            grupo; (vi) sea violento o amenazante o promueva la violencia o acciones que amenacen a
            cualquier persona o entidad; o (vii) promueva actividades o sustancias ilegales o
            dañinas;
          </li>
          <li>
            duplicar, descompilar, realizar ingeniería inversa, desensamblar o decodificar el
            Servicio (incluida cualquier idea o algoritmo subyacente), o intentar hacer cualquiera
            de las mismas cosas;
          </li>
          <li>
            acceder o utilizar el Servicio de cualquier manera que pueda deshabilitar, sobrecargar,
            dañar, interrumpir o perjudicar el Servicio o interferir con el acceso o uso del
            Servicio por parte de terceros o utilizar cualquier dispositivo, software o rutina que
            cause lo mismo;
          </li>
          <li>
            acceder o utilizar los Servicios de cualquier manera, incluso en lo que respecta al
            almacenamiento de datos, excediendo los límites de uso justo determinados por Gadmin a
            su exclusivo criterio;
          </li>
          <li>
            intentar obtener acceso no autorizado, interferir, dañar o interrumpir el Servicio, las
            cuentas registradas de otros usuarios o los sistemas informáticos o redes conectadas al
            Servicio;
          </li>
          <li>
            eludir, eliminar, alterar, desactivar, degradar o frustrar cualquier medida tecnológica
            o protección de contenido del Servicio;
          </li>
          <li>
            utilizar cualquier robot, araña, rastreador u otro dispositivo automático, proceso,
            software o consultas que intercepten, “extraigan”, raspen o accedan de otro modo al
            Servicio para monitorear, extraer, copiar o recopilar información o datos desde o a
            través del Servicio, o participar en cualquier proceso manual para hacer lo mismo;
          </li>
          <li>
            introducir virus, troyanos, gusanos, bombas lógicas u otros materiales que sean
            maliciosos o tecnológicamente dañinos;
          </li>
          <li>utilizar el Servicio con fines ilegales, acosadores, poco éticos o disruptivos;</li>
          <li>
            violar cualquier ley o regulación aplicable en relación con su acceso o uso del
            Servicio;
          </li>
          <li>
            acceder o utilizar el Servicio desde cualquier país o región sujeto a un embargo
            integral de los EE. UU.; o
          </li>
          <li>
            acceder o utilizar el Servicio de cualquier forma no expresamente permitida por estos
            Términos o la Documentación.
          </li>
          <!-- TODO: Add content and use policy page -->
          <li>
            acceder o utilizar el Servicio en violación de nuestra <a href='/#!content-use-policy'
              >Política de contenido y uso</a
            >.
          </li>
        </ul>
        <!-- # 3. Cuentas -->
        <h2 id='3-accounts'>3. Cuentas</h2>
        <p>
          Usted es responsable de mantener la confidencialidad de su cuenta y credenciales,
          incluyendo, entre otras cosas, la restricción del acceso a su computadora y/o cuenta. Está
          prohibido compartir su nombre de usuario o credenciales. Usted acepta la responsabilidad
          por todas y cada una de las actividades o acciones que ocurran en su cuenta. Debe
          notificarnos inmediatamente si se entera de cualquier violación de seguridad o uso no
          autorizado de su cuenta.
        </p>
        <p>
          No puede utilizar como nombre de usuario para su tienda el nombre de otra persona o
          entidad que no esté legalmente disponible para su uso, ni un nombre o marca registrada que
          esté sujeto a los derechos de otra persona o entidad que no sea usted, sin la autorización
          correspondiente. No puede utilizar como nombre de usuario para su tienda ningún nombre que
          sea ofensivo, vulgar u obsceno.
        </p>
        <p>
          No puede utilizar el Servicio si tiene 13 años o menos. Al utilizar el Servicio, declara y
          garantiza que es mayor de 13 años.
        </p>
        <!-- # 4. Espacios de trabajo -->
        <h2 id='4-workspaces'>4. Espacios de trabajo</h2>
        <p>
          El Contenido del Usuario enviado, publicado o modificado por los usuarios en el Servicio
          está organizado en secciones separadas a las que nos referimos como “Tiendas”.
        </p>
        <p>Hay dos tipos generales de tiendas en el Servicio:</p>
        <ul>
          <li>
            “Tiendas personales” que solo pueden ser administrados por el usuario que creó la tienda
            y a los que solo puede acceder dicho usuario y cualquier usuario invitado autorizado,
            sujeto a lo que se indica a continuación con respecto a las tiendas personales creadas
            mediante un correo electrónico de la organización.
          </li>
          <li>
            “Tiendas organizacionales” que requieren una suscripción elegible y a los que pueden
            acceder varios usuarios. A continuación se detallan más detalles sobre las tiendas
            organizacionales.
          </li>
        </ul>
        <p>
          En el Servicio, puedes trabajar en varias Tiendas a la vez, lo que significa que tu cuenta
          única puede acceder a tus propias Tiendas personales y a Tiendas organizacionales de tu
          empleador. Las Tiendas son completamente independientes y no podrás vincular ningún
          Contenido entre ellas (aunque puedes transferir Contenido de una Tienda a otra). También
          puedes exportar tu Contenido de usuario desde tus Tiendas para usarlo fuera del Servicio
          utilizando nuestra herramienta de exportación disponible en nuestra página de
          administración de cuentas en línea.
        </p>
        <p>
          Los usuarios que se unan a la tienda de una organización aceptan que los datos de su
          cuenta de Gadmin y el contenido de usuario creado en esa tienda pueden compartirse con esa
          organización y que el propietario o administrador de la tienda puede acceder a ellos,
          modificarlos o eliminarlos. Además, usted reconoce y acepta que si se registra en Gadmin
          con una dirección de correo electrónico proporcionada por una organización ("Correo
          electrónico de la organización"), acepta que dicha organización puede ver información
          sobre cualquier tienda que cree o del que sea administrador, miembro o invitado, incluida
          una lista de miembros de la tienda, invitados y contenido. Dicha organización puede tener
          la capacidad de administrar su tienda, lo que incluye reclamar el control y la propiedad
          de cualquier tienda que cree o del que sea administrador, o eliminarlo de cualquier tienda
          del que sea miembro, incluido cualquier contenido dentro de dichas tiendas.
        </p>
        <p>
          Si se une a una tienda organizacional, su uso debe cumplir con las políticas de esa
          organización y cualquier acuerdo que pueda tener con esa organización. Las tiendas
          organizacionales están sujetos al control de dicha organización. Los administradores de la
          organización pueden acceder, divulgar, restringir o eliminar contenido en la tienda
          organizacional o desde él. También pueden restringir o cancelar su acceso a la tienda
          organizacional. Si convierte una tienda personal existente en una tienda organizacional o
          transfiere o comparte contenido con una tienda organizacional, sus administradores pueden
          impedirle posteriormente desvincular el contenido de la tienda organizacional.
        </p>
        <!-- # 5. Interacting with Organizational Workspaces -->
        <h2 id='5-interacting-org-workspaces'>
          5. Interacción con espacios de trabajo organizacionales
        </h2>
        <p>
          Una Organización puede (i) invitarlo a usar o permitirle usar su Tienda Organizacional;
          y/o (ii) invitarlo a unirse al Servicio como su Usuario Organizacional.
        </p>
        <p>
          Como se indica en la sección “Contenido” de estos Términos, si envía o publica Contenido
          en una Tienda de la organización (dicho Contenido, el “Contenido de la organización”),
          entonces, entre usted, Gadmin y dicha Organización, la Organización será propietaria de
          todos los derechos sobre dicho Contenido de la organización. Para evitar dudas, lo
          anterior no le impide celebrar un acuerdo por separado entre usted y la Organización que
          aborde la propiedad del Contenido entre usted y dicha Organización.
        </p>
        <p>
          Las organizaciones están autorizadas a agregar y eliminar usuarios de sus tiendas
          organizacionales. Los usuarios que hayan sido autorizados a usar una tienda organizacional
          del Servicio por una organización se denominan "Usuario de la tienda" mientras estén
          usando dicha tienda de la organización. Si compró una suscripción en nombre de su
          organización o empleador, su organización o empleador es la organización, y no usted. La
          organización puede modificar y reasignar roles en la tienda organizacional (incluido su
          rol). Si la organización elige reemplazarlo como representante con autoridad máxima para
          la tienda organizacional, usted acepta tomar cualquier acción que solicitemos
          razonablemente nosotros o la organización para facilitar la transferencia de autoridad a
          un nuevo representante de la organización.
        </p>
        <p>
          Si utiliza una tienda de la organización como usuario de una organización, reconoce que el
          servicio que utiliza en esas circunstancias es una herramienta del lugar de trabajo
          destinada a empresas y organizaciones y no a fines de consumo. En la medida máxima
          permitida por la ley, reconoce y acepta que las leyes de consumo no se aplican en relación
          con dicho uso de una tienda de la organización como usuario de una organización.
        </p>
        <!-- # 6. Suscripciones -->
        <h2 id='6-subscriptions'>6. Suscripciones</h2>
        <!-- TODO: Remove # and send to pricing page in the future." -->
        <p>
          Todo el Servicio está disponible mediante suscripción paga. Los precios y las funciones
          incluidas en las Suscripciones ("Plan(es) de Suscripción") se establecen en: <a
            href='https://gadmin.app/#pricing'>https://gadmin.app/#pricing</a
          >.
        </p>
        <p>
          Se le facturará por adelantado de forma recurrente y periódica ("Ciclo de facturación").
          Los ciclos de facturación se establecen de forma mensual o anual. Independientemente de si
          utiliza la facturación mensual o anual, es posible que se le cobre a su cuenta de forma
          mensual.
        </p>
        <!-- TODO: Agregar FAQ de Billing: "Consulte las Preguntas frecuentes sobre facturación para obtener más detalles." -->
        <p>
          <strong>Renovación automática:</strong> Usted acepta que al final de cada ciclo de facturación,
          su suscripción se renovará automáticamente y su método de pago para dicha suscripción se cargará
          automáticamente al inicio de cada nuevo período de suscripción por las tarifas e impuestos
          aplicables a ese ciclo de facturación, bajo las mismas condiciones que el ciclo de facturación
          anterior, a menos que cancele su suscripción antes de su fecha de renovación.
        </p>
        <p>
          Se requiere un método de pago válido, incluida una tarjeta de crédito, para procesar el
          pago de su suscripción. Debe proporcionar a Gadmin información de facturación precisa y
          completa, que incluya nombre completo, dirección, estado, código postal e información de
          método de pago válido. Al enviar dicha información de pago, usted autoriza automáticamente
          a Gadmin a cobrar todas las Tarifas de suscripción incurridas a través de su cuenta a
          cualquiera de dichos instrumentos de pago.
        </p>
        <p>
          Si por algún motivo no se puede realizar la facturación automática, Gadmin puede intentar
          cobrar la tarjeta de crédito registrada una o más veces. Si el pago continúa sin
          realizarse, Gadmin, a su exclusivo criterio, cancelará o cambiará a una categoría inferior
          la suscripción y usted podrá perder el acceso a determinadas funciones pagas o a su tienda
          y cuenta de Gadmin.
        </p>
        <p>
          Puede cancelar su suscripción a través de su página de administración de cuenta en línea o
          comunicándose con el equipo de atención al cliente de Gadmin a <a
            href='mailto:team@gadmin.app'>team@gadmin.app</a
          > e indicando su intención de cancelar su suscripción.
        </p>
        <!-- # 7. Tarifas y cambios de tarifas -->
        <h2 id='7-fees'>7. Tarifas y cambios de tarifas</h2>
        <p>
          Gadmin, a su exclusivo criterio y en cualquier momento, puede modificar las Tarifas de
          suscripción de las Suscripciones, incluidos los Complementos. Cualquier cambio en la
          Tarifa de suscripción entrará en vigencia al final del Ciclo de facturación vigente en ese
          momento.
        </p>
        <p>
          Gadmin le proporcionará un aviso previo razonable de cualquier cambio en las Tarifas de
          suscripción. Su uso continuo del Servicio constituye su aceptación de pagar las Tarifas de
          suscripción modificadas.
        </p>
        <p>
          Las tarifas de suscripción se establecen sin incluir ningún impuesto o tasación
          gubernamental similar de cualquier naturaleza, incluidos, por ejemplo, los impuestos al
          valor agregado, a las ventas, al uso o a las retenciones, que pueda evaluar cualquier
          jurisdicción (en conjunto, los “Impuestos”). Usted será responsable de pagar todos los
          impuestos asociados con su suscripción, excepto aquellos impuestos basados ​​en nuestros
          ingresos netos. Si algún pago por el Servicio está sujeto a retención de impuestos por
          parte de algún gobierno, usted nos reembolsará dicha retención.
        </p>
        <!-- # 8. Tarifas y cambios de tarifas -->
        <h2 id='8-free-trial-and-beta'>8. Pruebas gratuitas y servicios beta</h2>
        <h3 id='8-free-trial'>Pruebas gratuitas</h3>
        <p>
          Gadmin puede, a su exclusivo criterio, ofrecer una Suscripción con una prueba gratuita por
          un período de tiempo limitado ("Prueba gratuita"). Si está en una Prueba gratuita, puede
          cancelarla en cualquier momento hasta el último día de su Prueba gratuita siguiendo los
          procedimientos de cancelación descritos en la sección Suscripción de estos Términos. Si
          usted o Gadmin cancelan su Prueba gratuita, reconoce y acepta que podemos eliminar todo su
          Contenido de usuario o los datos asociados con su Tienda que se asignaron a su Prueba
          gratuita. Si no cancela su Prueba gratuita, entonces su Prueba gratuita se convertirá en
          una Suscripción paga al final del período de prueba, y por la presente nos autoriza a
          cobrar su tarjeta de crédito u otro método de pago por el uso continuo del Servicio pago
          bajo dicha Suscripción. A partir de entonces, su Suscripción puede cancelarse de acuerdo
          con la Sección 6 (Suscripción) de estos Términos.
        </p>
        <p>
          En cualquier momento y sin previo aviso, Gadmin se reserva el derecho de (a) modificar los
          términos y condiciones de cualquier oferta de prueba gratuita; (b) cancelar cualquier
          oferta de prueba gratuita; o (c) cancelar cualquier suscripción de prueba gratuita en
          cualquier momento.
        </p>
        <h3 id='8-beta-services'>Servicios Beta</h3>
        <p>
          Esta Sección describe los términos y condiciones adicionales bajo los cuales usted puede
          acceder y usar ciertas características, tecnologías y servicios puestos a su disposición
          por Gadmin que aún no están generalmente disponibles, incluyendo, pero no limitado a,
          cualquier producto, servicio o característica designada o etiquetada como “alfa”, “beta”,
          “acceso anticipado”, “vista previa”, “piloto” o designación similar (cada uno, un
          “Servicio Beta”).
        </p>
        <p>
          Debe cumplir con todos los términos relacionados con cualquier Servicio Beta que Gadmin
          publique en su sitio web o le proporcione. Gadmin puede agregar o modificar términos,
          incluida la reducción o el aumento de los límites de uso, relacionados con el acceso o el
          uso de cualquier Servicio Beta en cualquier momento. Los Acuerdos de Nivel de Servicio no
          se aplican a los Servicios Beta.
        </p>
        <p>
          Puede proporcionar a Gadmin comentarios relacionados con los Servicios Beta. Gadmin será
          el propietario y podrá utilizar y evaluar todos los comentarios para sus propios fines.
        </p>
        <p>
          Gadmin puede suspender o cancelar su acceso o uso de cualquier Servicio Beta en cualquier
          momento. Su acceso y uso de cada Servicio Beta finalizará automáticamente tras el
          lanzamiento de una versión disponible para el público en general del Servicio Beta
          correspondiente o tras la notificación de cancelación por parte de Gadmin.
        </p>
        <p>
          <strong>Descargo de responsabilidad.</strong>
        </p>
        <p>
          SIN LIMITAR LAS EXENCIONES DE RESPONSABILIDAD DEL ACUERDO, LOS SERVICIOS BETA NO ESTÁN
          LISTOS PARA SU LANZAMIENTO COMERCIAL GENERAL Y, SIN PERJUICIO DE CUALQUIER DISPOSICIÓN EN
          CONTRARIO EN EL ACUERDO, GADMIN PROPORCIONA LOS SERVICIOS BETA “TAL CUAL”. GADMIN NO HACE
          DECLARACIONES NI OFRECE GARANTÍAS DE NINGÚN TIPO, YA SEAN EXPRESAS, IMPLÍCITAS,
          ESTATUTARIAS O DE OTRO TIPO, CON RESPECTO A LOS SERVICIOS BETA, INCLUIDA CUALQUIER
          GARANTÍA DE QUE LOS SERVICIOS BETA ESTARÁN DISPONIBLES DE FORMA GENERAL. EXCEPTO EN LA
          MEDIDA EN QUE LO PROHÍBA LA LEY, GADMIN RENUNCIA A TODAS LAS GARANTÍAS, INCLUIDAS LAS
          GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD, IDONEIDAD PARA UN PROPÓSITO PARTICULAR O NO
          INFRACCIÓN.
        </p>
        <!-- # 9. Reembolsos -->
        <h2 id='9-refunds'>9. Reembolsos</h2>
        <p>
          Las obligaciones de pago no son cancelables, las tarifas pagadas no son reembolsables y no
          hay créditos por períodos de suscripción parcialmente utilizados.
        </p>
        <!-- # 10. Comunicaciones desde Gadmin -->
        <h2 id='10-communications-gadmin'>10. Comunicaciones desde Gadmin</h2>
        <p>
          Al crear una cuenta en nuestro Servicio, usted acepta suscribirse a boletines informativos
          o materiales de marketing y otra información promocional que podamos enviarle. Sin
          embargo, puede optar por no recibir ninguna o todas estas comunicaciones de marketing de
          nuestra parte siguiendo el enlace para cancelar la suscripción o las instrucciones que se
          proporcionan en cualquier correo electrónico que le enviemos. Tenga en cuenta que aún
          podemos enviarle mensajes transaccionales o administrativos relacionados con el Servicio
          incluso después de que haya optado por no recibir comunicaciones de marketing.
        </p>
        <!-- # 11. Política de derechos de autor -->
        <h2 id='11-copyright-policy'>11. Política de derechos de autor</h2>
        <p>
          Respetamos los derechos de propiedad intelectual de terceros. Nuestra política es
          responder a las reclamaciones de que los materiales publicados en el Servicio infringen
          los derechos de autor de cualquier persona o entidad.
        </p>
        <!-- # 12. Propiedad intelectual -->
        <h2 id='12-intellectual-property'>12. Propiedad intelectual</h2>
        <p>
          El Servicio y su Contenido (excluidos el Contenido del Usuario y el Contenido de la
          Organización), las características y la funcionalidad son y seguirán siendo propiedad
          exclusiva de Gadmin y sus licenciantes. El Servicio está protegido por derechos de autor,
          marcas comerciales y otras leyes tanto de los Estados Unidos como de países extranjeros.
          Nuestras marcas comerciales y nuestra imagen comercial no pueden usarse en relación con
          ningún producto o servicio sin el consentimiento previo por escrito de Gadmin.
        </p>
        <!-- # 13. Retroalimentación -->
        <h2 id='13-feedback'>13. Retroalimentación</h2>
        <p>
          Aceptamos comentarios, sugerencias y sugerencias para mejorar el Servicio (“Comentarios”).
          Usted reconoce y acepta expresamente que cualquier contribución de Comentarios no le
          otorga ni le otorgará ningún derecho, título o interés en el Servicio ni en dichos
          Comentarios. Todos los Comentarios pasan a ser propiedad única y exclusiva de Gadmin, y
          Gadmin puede usar y divulgar los Comentarios de cualquier manera y para cualquier
          propósito sin previo aviso ni compensación para usted y sin que usted retenga ningún
          derecho o reclamo de propiedad u otro. Por la presente, usted asigna a Gadmin todos y cada
          uno de los derechos, títulos e intereses (incluidos, entre otros, cualquier patente,
          derecho de autor, secreto comercial, marca registrada, demostración técnica, conocimientos
          técnicos, derechos morales y cualquier otro derecho de propiedad intelectual) que pueda
          tener en y sobre todos y cada uno de los Comentarios.
        </p>
        <!-- # 14. Terminación -->
        <h2 id='14-termination'>14. Terminación</h2>
        <p>
          Podemos cancelar o suspender su cuenta y prohibir el acceso al Servicio inmediatamente,
          sin previo aviso ni responsabilidad, a nuestro exclusivo criterio, por cualquier motivo y
          sin limitación, incluido, entre otros, el incumplimiento de los Términos.
        </p>
        <p>
          Puede solicitar la eliminación de su(s) tienda(s) personal en cualquier momento desde
          nuestra página de administración de cuenta. Tras su solicitud de eliminación de una Tienda
          personal, todo el Contenido de dicha Tienda personal se volverá inmediatamente
          inaccesible. Después de 30 días, el Contenido de usuario se eliminará de nuestros
          servidores y ya no se podrá recuperar. De manera similar, si elimina parte (pero no todo)
          del Contenido de usuario designado como privado en su Tienda personal, después de 30 días,
          dicho Contenido de usuario se eliminará de nuestros servidores y ya no se podrá recuperar.
          Usted reconoce y acepta que cualquier Contenido de usuario que se haya transferido a una
          Tienda organizacional se conservará en dicha Tienda organizacional después de la
          terminación de su Tienda personal.
        </p>
        <!-- # 15. Indemnización -->
        <h2 id='15-indemnification'>15. Indemnización</h2>
        <p>
          Usted acepta defender, indemnizar y eximir de responsabilidad a Gadmin y sus
          licenciatarios y licenciantes, y sus empleados, contratistas, agentes, funcionarios y
          directores, de y contra todos y cada uno de los reclamos, daños, obligaciones, pérdidas,
          responsabilidades, costos o deudas y gastos (incluidos, entre otros, los honorarios de
          abogados), que resulten o surjan de (a) su uso y acceso al Servicio, por usted o cualquier
          persona que use su cuenta y credenciales; (b) un incumplimiento de estos Términos; o (c)
          su Contenido de usuario proporcionado al Servicio.
        </p>
        <!-- # 16. Limitaciones de responsabilidad -->
        <h2 id='16-limitations-of-liability'>16. Limitaciones de responsabilidad</h2>
        <p>
          EN NINGÚN CASO GADMIN, NI SUS DIRECTORES, EMPLEADOS, SOCIOS, AGENTES, PROVEEDORES O
          AFILIADOS, SERÁN RESPONSABLES ANTE USTED POR CUALQUIER DAÑO INDIRECTO, INCIDENTAL,
          ESPECIAL, DERIVADO O PUNITIVO, INCLUYENDO, SIN LIMITACIÓN, PÉRDIDA DE BENEFICIOS, DATOS,
          USO, FONDOS DE COMERCIO U OTRAS PÉRDIDAS INTANGIBLES, YA SEA CON BASE EN LA GARANTÍA, EL
          CONTRATO, AGRAVIO (INCLUIDA LA NEGLIGENCIA) O CUALQUIER OTRA TEORÍA LEGAL, YA SEA QUE
          HAYAMOS SIDO INFORMADOS O NO DE LA POSIBILIDAD DE TAL DAÑO, E INCLUSO SI SE ENCUENTRA QUE
          UN RECURSO ESTABLECIDO EN ESTE DOCUMENTO NO HA CUMPLIDO CON SU PROPÓSITO ESENCIAL. LA
          RESPONSABILIDAD TOTAL AGREGADA DE GADMIN QUE SURJA O SE RELACIONE CON SU USO DEL SERVICIO
          Y ESTOS TÉRMINOS SE LIMITA AL MAYOR DE (i) $20 USD; O (ii) CIEN POR CIENTO (100 %) DE
          CUALQUIER MONTO QUE HAYA PAGADO POR SU SUSCRIPCIÓN EN EL PERÍODO DE DOCE (12) MESES
          ANTERIOR.
        </p>
        <!-- # 17. Descargo de responsabilidad -->
        <h2 id='17-disclaimer'>17. Descargo de responsabilidad</h2>
        <p>
          EL USO QUE USTED HAGA DEL SERVICIO SE REALIZA BAJO SU PROPIA RESPONSABILIDAD. EL SERVICIO
          SE PROPORCIONA "TAL CUAL" Y "SEGÚN DISPONIBILIDAD". EL SERVICIO SE PROPORCIONA SIN
          GARANTÍAS DE NINGÚN TIPO, YA SEAN EXPRESAS O IMPLÍCITAS, INCLUYENDO, ENTRE OTRAS, LAS
          GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD, IDONEIDAD PARA UN PROPÓSITO PARTICULAR, NO
          INFRACCIÓN O CURSO DE EJECUCIÓN.
        </p>
        <p>
          GADMIN, SUS SUBSIDIARIAS, SUS AFILIADOS Y SUS LICENCIANTES NO GARANTIZAN QUE (A) EL
          SERVICIO FUNCIONARÁ DE FORMA ININTERRUMPIDA, SEGURA O ESTARÁ DISPONIBLE EN CUALQUIER
          MOMENTO O UBICACIÓN EN PARTICULAR; (B) CUALQUIER ERROR O DEFECTO SERÁ CORREGIDO; (C) EL
          SERVICIO ESTÁ LIBRE DE VIRUS U OTROS COMPONENTES DAÑINOS; O (D) LOS RESULTADOS DEL USO DEL
          SERVICIO CUMPLIRÁN CON SUS REQUISITOS.
        </p>
        <!-- # 18. Exclusiones -->
        <h2 id='18-exclusions'>18. Exclusiones</h2>
        <p>
          Algunas jurisdicciones no permiten la exclusión de ciertas garantías o la exclusión o
          limitación de responsabilidad por daños consecuentes o incidentales establecidos en las
          secciones “LIMITACIÓN DE RESPONSABILIDAD” y “DESCARGO DE RESPONSABILIDAD” anteriores, por
          lo que las limitaciones anteriores pueden no aplicarse en su caso.
        </p>
        <!-- # 19. Información confidencial -->
        <h2 id='19-confidential-information'>19. Información confidencial</h2>
        <p>
          “Información confidencial” significa información que cualquiera de las partes
          (“Divulgador”) revela a la otra parte (“Destinatario”) en virtud de este Acuerdo, y que
          está marcada de manera visible, o verbalmente y, si corresponde, visualmente declarada
          como confidencial o que normalmente sería considerada información confidencial por una
          parte razonable en las circunstancias. “Información confidencial” no incluye información
          que el Destinatario pueda documentar: (1) es desarrollada independientemente por el
          Destinatario; (2) es entregada legítimamente al Destinatario por un tercero sin
          obligaciones de confidencialidad; o (3) se vuelve pública sin culpa del Destinatario. La
          Información confidencial de Gadmin incluye información no pública sobre características,
          funcionalidad, rendimiento y precios de los Servicios, la Documentación, API y otros
          productos o servicios de Gadmin.
        </p>
        <p>
          Cada parte, en calidad de Destinatario, tomará las precauciones razonables para proteger
          la Información Confidencial del Divulgador y no utilizará (salvo que se permita
          expresamente en este Acuerdo) ni divulgará a ningún tercero ninguna Información
          Confidencial. Sin perjuicio de cualquier disposición de este Acuerdo, el Destinatario
          podrá divulgar la Información Confidencial del Divulgador, en su totalidad o en parte (i)
          a sus empleados, funcionarios, directores, consultores y asesores profesionales (por
          ejemplo, abogados, auditores, asesores financieros, contadores y otros representantes
          profesionales) que tengan la necesidad de conocerla y estén legalmente obligados a
          mantener dicha Información Confidencial confidencial por obligaciones de confidencialidad
          o, en el caso de asesores profesionales, estén obligados por deberes éticos a mantener
          dicha Información Confidencial confidencial de conformidad con los términos de este
          Acuerdo; y (ii) según lo exija la ley, en cuyo caso, en la medida en que lo permita la ley
          aplicable, el Destinatario (A) proporcionará al Divulgador una notificación previa por
          escrito al respecto, (B) proporcionará al Divulgador la oportunidad de impugnar dicha
          divulgación y (C) hará todos los esfuerzos razonables para minimizar dicha divulgación. El
          Destinatario es responsable del cumplimiento de esta Sección 6 por parte de sus empleados
          y representantes, como si sus acciones o inacciones fueran acciones o inacciones del
          Destinatario. Lo anterior no se aplicará con respecto a ninguna Información Confidencial
          siete años después de su divulgación (o, con respecto a secretos comerciales, una vez que
          dicha Información Confidencial ya no constituya un secreto comercial según la ley
          aplicable).
        </p>
        <!-- # 20. Condiciones de la aplicación móvil -->
        <h2 id='20-mobile-app-terms'>20. Condiciones de la aplicación móvil</h2>
        <p>
          Usted es responsable de proporcionar el dispositivo móvil, el plan de servicio
          inalámbrico, el software, las conexiones a Internet y/u otros equipos o servicios que
          necesite para descargar, instalar y utilizar cualquier versión de aplicación móvil del
          Servicio (la “Aplicación”). No garantizamos que se pueda acceder a la Aplicación y
          utilizarla en cualquier dispositivo en particular o con cualquier plan de servicio en
          particular. No garantizamos que la Aplicación esté disponible en ninguna ubicación
          geográfica en particular. Como parte del Servicio y para actualizarlo sobre el estado de
          las entregas, puede recibir notificaciones automáticas, notificaciones de clientes
          locales, mensajes de texto, mensajes con imágenes, alertas, correos electrónicos u otros
          tipos de mensajes enviados directamente a usted en relación con la Aplicación (“Mensajes
          automáticos”). Usted reconoce que, cuando utiliza la Aplicación, su proveedor de servicios
          inalámbricos puede cobrarle tarifas por datos, mensajes de texto y/u otro acceso
          inalámbrico, incluso en relación con los Mensajes automáticos. Usted tiene control sobre
          la configuración de los Mensajes automáticos y puede optar por recibir o no estos Mensajes
          automáticos a través del Servicio o a través del sistema operativo de su dispositivo móvil
          (con la posible excepción de anuncios de servicio importantes poco frecuentes y mensajes
          administrativos). Consulte con su proveedor de servicios inalámbricos para determinar qué
          tarifas se aplican a su acceso y uso de la aplicación, incluida la recepción de mensajes
          push de Gadmin. Usted es el único responsable de cualquier tarifa, costo o gasto en el que
          incurra para descargar, instalar o usar la aplicación en su dispositivo móvil, incluida la
          recepción de mensajes push de Gadmin.
        </p>
        <p>
          Software móvil de la App Store de Apple. Los siguientes términos y condiciones se aplican
          a usted únicamente si utiliza la Aplicación de la App Store de Apple. En la medida en que
          los demás términos y condiciones de estos Términos sean menos restrictivos que los
          términos y condiciones de este párrafo o entren en conflicto con ellos, se aplicarán los
          términos y condiciones más restrictivos o conflictivos de este párrafo, pero únicamente
          con respecto a la Aplicación de la App Store de Apple. Usted reconoce y acepta que estos
          Términos se aplican únicamente entre usted y Gadmin, no Apple, y que Apple no tiene
          ninguna responsabilidad por la Aplicación ni su contenido. Su uso de la Aplicación debe
          cumplir con los términos de uso aplicables de la App Store. Usted reconoce que Apple no
          tiene obligación alguna de proporcionar servicios de mantenimiento y soporte con respecto
          a la Aplicación. En caso de que la Aplicación no cumpla con alguna garantía aplicable,
          puede notificar a Apple y Apple le reembolsará el precio de compra, si corresponde, de la
          Aplicación. En la medida máxima permitida por la ley aplicable, Apple no tendrá ninguna
          otra obligación de garantía con respecto a la Aplicación, y cualquier otro reclamo,
          pérdida, responsabilidad, daño, costo o gasto atribuible a cualquier incumplimiento de
          cualquier garantía se regirá exclusivamente por estos Términos. Usted y Gadmin reconocen
          que Apple no es responsable de abordar ningún reclamo suyo o de terceros relacionado con
          la Aplicación o su posesión y/o uso de la Aplicación, incluidos, entre otros: (a) reclamos
          por responsabilidad del producto, (b) cualquier reclamo de que la Aplicación no se ajusta
          a cualquier requisito legal o reglamentario aplicable, y (c) reclamos que surjan de la
          protección del consumidor o legislación similar. Usted y Gadmin reconocen que, en caso de
          que un tercero reclame que la Aplicación o su posesión y uso de la Aplicación infringen
          los derechos de propiedad intelectual de ese tercero, Gadmin, no Apple, será el único
          responsable de la investigación, defensa, resolución y descargo de cualquier reclamo de
          infracción de propiedad intelectual en la medida requerida por estos Términos. Debe
          cumplir con los términos de acuerdo de terceros aplicables al usar la Aplicación. Usted y
          Gadmin reconocen y aceptan que Apple y las subsidiarias de Apple son terceros
          beneficiarios de estos Términos en lo que respecta a su uso de la Aplicación y que, tras
          su aceptación de estos Términos, Apple tendrá el derecho (y se considerará que ha aceptado
          el derecho) de hacer cumplir estos Términos en su contra como tercero beneficiario de los
          mismos.
        </p>
        <!-- # 21. Cambios -->
        <h2 id='21-changes'>21. Cambios</h2>
        <p>
          Nos reservamos el derecho, a nuestra exclusiva discreción, de modificar o reemplazar estos
          Términos, incluidos los Términos complementarios, en cualquier momento. Si continúa
          accediendo o utilizando nuestro Servicio después de que entren en vigencia las revisiones,
          acepta estar sujeto a los términos revisados. Si no acepta los nuevos términos, ya no está
          autorizado a utilizar el Servicio.
        </p>
        <!-- # 22. Renuncia -->
        <h2 id='22-waiver'>22. Renuncia</h2>
        <p>
          El hecho de que no hagamos valer algún derecho o disposición de estos Términos no se
          considerará una renuncia a esos derechos. Si un tribunal determina que alguna disposición
          de estos Términos no es válida o no se puede hacer valer, las disposiciones restantes de
          estos Términos seguirán vigentes.
        </p>
        <!-- # 23. Acuerdo completo -->
        <h2 id='23-entire-agreement'>23. Acuerdo completo</h2>
        <p>
          Estos Términos constituyen el acuerdo completo entre usted y Gadmin con respecto a nuestro
          Servicio y reemplazan cualquier acuerdo previo que pudiéramos haber tenido entre nosotros
          con respecto al Servicio.
        </p>
        <!-- # 24. Supervivencia -->
        <h2 id='24-survival'>24. Supervivencia</h2>
        <p>
          Todas las disposiciones de los Términos que por su naturaleza deban sobrevivir a la
          terminación sobrevivirán a la terminación, incluidas, entre otras, las disposiciones de
          propiedad, exenciones de garantía, indemnización y limitaciones de responsabilidad.
        </p>
        <!-- # Contact us -->
        <h2 id='contact-us'>Contacta con nosotros</h2>
        <p>
          Si tiene alguna pregunta sobre nuestras prácticas de privacidad o estos Términos,
          contáctenos a:
        </p>
        <a href='mailto:team@gadmin.app'>team@gadmin.app</a>
        <!-- # Last update -->
        <p class='text-neutral-08'>Última actualización: Octubre 25, 2024.</p>
      </main>
      <LegalLinks />
    </div>
  </div>
  <Footer />
</Layout>

<style>
  .full-page {
    background-color: var(--shade-03);
    min-height: calc(100vh - 6rem);
    padding-top: 6rem;
    margin-bottom: 4rem;
  }
  @supports (height: 100svh) {
    .full-page {
      min-height: calc(100svh - 6rem);
    }
  }

  /* TODO: Esta clase debe ser global. */
  .wrapper {
    width: 100%;
    max-width: 1080px;
    display: grid;
    grid-template-columns: 7fr 3fr;
    color: var(--neutral-04);
    gap: 1rem;
    padding: 0 1rem;
  }

  .table-content {
    margin-bottom: 0.5rem;
  }

  .table-content-container {
    display: flex;
    flex-direction: column;
  }

  .table-content__button {
    display: block;
    color: var(--neutral-06);
    text-decoration: underline;
    padding: 0.5rem;
    padding-left: 0.25rem;
    border-radius: 2px;
    transition: background-color 0.1s ease;
  }

  .table-content__button:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
</style>
