---
import logoBg from '@/assets/img/logo-light.webp'
import WhatsAppButton from './WhatsAppButton.astro'
import WhatsAppCard from './WhatsAppCard.astro'
import WhatsAppChat from './WhatsAppChat.astro'
---

<script>
  const whatsAppContainer = document.querySelector('.whatsApp')
  const whatsAppToggle = document.getElementById('whatsAppToggle')

  if (whatsAppContainer && whatsAppToggle) {
    whatsAppToggle.addEventListener('click', () => {
      whatsAppContainer.classList.toggle('whatsApp--open')
    })
  }
</script>

<div id='whatsApp' class='whatsApp'>
  <div class='whatsApp__button-container'>
    <WhatsAppButton />
  </div>
  <div class='whatsApp__card-container' id='whatsApp-card'>
    <WhatsAppCard>
      <WhatsAppChat
        chatName='Equipo de Gadmin'
        description='Siempre que nos necesites'
        icon={logoBg.src}
        iconAlt='Hablar con el equipo de Gadmin'
        isActive={true}
        chatLink='https://api.whatsapp.com/send?phone=+18578229279&text=Hola,%20tengo%20una%20duda%20sobre%20'
      />
    </WhatsAppCard>
  </div>
</div>

<style is:global>
  .whatsApp {
    position: fixed;
    z-index: 100;
  }

  .whatsApp__button-container {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 0.5rem;
    bottom: 2rem;
    right: 2rem;
  }

  .whatsApp__card-container {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    transform: scale(1) translateX(0px);
    opacity: 1;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    z-index: 100;
  }

  .whatsApp:not(.whatsApp--open) .whatsApp__card-container {
    opacity: 0;
    transform: scaleY(0) translateX(150vw);
  }

  @media screen and (max-width: 768px) {
    .whatsApp__button-container {
      bottom: 1rem;
      right: 1rem;
    }

    .whatsApp__card-container {
      bottom: 5rem;
      right: 1rem;
      max-width: 90vw;
    }
  }
</style>
