---
import ceo from '@/assets/img/ceo.webp'
import { Image } from 'astro:assets'
---

<div class='benefits-container'>
  <div class='benefits-content wrapper'>
    <div class='main-message'>
      <h2>
        <span class='text-secondary'>&lt;Gadmin est치 en desarrollo/&gt;</span>
        <br />
        쯃o ayudar칤as?
      </h2>
      <p style={{ margin: '0', fontSize: '1.15rem' }}>
        Quiere descubrir si los profesionales como t칰 lo necesitan.
      </p>
    </div>

    <hr class='divider' />

    <div class='ceo-message'>
      <p class='highlight'>游눛 El CEO es transparente, Gadmin tambi칠n 游눛</p>
      <p style={{ margin: '0', fontWeight: 300 }}>
        Gadmin es una startup abierta y <strong>transparente</strong>. Si no me crees, s칤gueme en
        LinkedIn donde comparto en p칰blico c칩mo estoy creando la herramienta que te cambiar치 la
        vida.
      </p>
      <div class='ceo-profile'>
        <Image
          class:list='ceo-image'
          src={ceo}
          width={48}
          height={48}
          alt='Foto de Orlando Brice침o, CEO de Gadmin'
        />
        <p class='ceo-name'>Orlando Brice침o</p>
      </div>
    </div>
  </div>

  <style>
    .benefits-container {
      padding: 3rem;
      background-color: var(--shade-03);
    }

    .benefits-content {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
      color: var(--white);
    }

    .main-message h2 {
      margin-bottom: 1rem;
      font-size: 1.75rem;
    }

    .divider {
      margin: 1rem auto;
      border: none;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .ceo-message {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .ceo-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .ceo-image {
      border-radius: 100%;
    }

    .highlight {
      margin: 0;
      font-weight: 500;
    }

    @media screen and (max-width: 768px) {
      .benefits-container {
        padding: 2rem 1rem;
      }

      .main-message h2 {
        font-size: 1.5rem;
      }
    }
  </style>
</div>
