---
import CTAHeader from '@/shared/components/cta/CTAHeader.astro'
---

<div class='cta' id='pricing'>
  <div class='wrapper cta-container'>
    <CTAHeader />
  </div>
</div>

<style>
  .cta {
    padding: 6rem 1rem;
  }

  .cta-container {
    padding: 0.25rem;
    border-radius: 8px;
  }

  .cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: var(--shade-03);
    border-radius: 8px;
  }

  .cta-title,
  .cta-subtitle {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--white);
    text-align: center;
    font-size: var(--48-pt);
  }

  .cta-subtitle {
    font-size: var(--40-pt);
  }

  .cta-title span,
  .cta-subtitle span {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (max-width: 768px) {
    .cta-content {
      padding: 3rem 0.5rem;
    }
  }
</style>
