---
import PricingCard from '@/shared/components/pricing/PricingCard.astro'
import PricingCardsContainer from '@/shared/components/pricing/PricingCardsContainer.astro'
import PricingHeader from '@/shared/components/pricing/PricingHeader.astro'
import PricingTabs from '@/shared/components/pricing/PricingTabs.astro'
---

<div class='cta'>
  <div class='wrapper cta-container' data-aos='flip-up'>
    <PricingHeader />
    <PricingTabs />
    <PricingCardsContainer>
      <PricingCard
        card='bronze'
        name='Bronce 游밽'
        description='Perfecto para nuevos emprendimientos o tiendas de 1 solo producto estrella.'
        features={[
          'Ventas ilimitadas sin comisi칩n',
          'Hasta 50 productos',
          '5 im치genes por producto',
          '5 variantes por producto',
          'Configurar dominio propio',
        ]}
      />

      <PricingCard
        card='silver'
        name='Plata 游뽔'
        description='Ideal para tiendas de nicho y negocios que buscan escalar.'
        features={[
          'Hasta 100 productos',
          '10 im치genes por producto',
          '10 variantes por producto',
          'Tienda multimoneda',
          '游꾸 Dominio .COM de regalo',
        ]}
        recommended={true}
      />

      <PricingCard
        card='gold'
        name='Oro 游눝'
        description='Para grandes tiendas con alta demanda y cat치logos extensos.'
        features={[
          'Hasta 500 productos',
          '20 im치genes por producto',
          'Variantes ilimitadas',
          'Tienda con soporte en varios idiomas',
        ]}
      />
    </PricingCardsContainer>
  </div>
</div>

<style>
  .cta {
    background-color: var(--shade-03);
    color: var(--white);
    padding: 4rem 1rem;
  }

  .cta-container {
    padding: 0.25rem;
    border-radius: 8px;
  }

  .cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: var(--shade-03);
    border-radius: 8px;
  }

  .cta-title,
  .cta-subtitle {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--white);
    text-align: center;
    font-size: var(--48-pt);
  }

  .cta-subtitle {
    font-size: var(--40-pt);
  }

  .cta-title span,
  .cta-subtitle span {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (max-width: 768px) {
    .cta-content {
      padding: 3rem 0.5rem;
    }
  }
</style>
