---
import PricingCard from '@/shared/components/pricing/PricingCard.astro'
import PricingCardsContainer from '@/shared/components/pricing/PricingCardsContainer.astro'
import PricingHeader from '@/shared/components/pricing/PricingHeader.astro'
---

<div class='cta' id='pricing'>
  <div class='wrapper cta-container'>
    <PricingHeader />
    <PricingCardsContainer>
      <PricingCard
        card='access-20'
        name='Acceso 20'
        description='Un premio de 20% off por tu confianza. ðŸ’™'
        price={30}
        features={[
          '20% de descuento de por vida',
          '15 miembros de equipo',
          'Sitios y tiendas ilimitadas',
          'Dominio personalizado',
        ]}
      />

      <PricingCard
        card='access-50'
        name='Acceso 50'
        description='Ideal para agencias que quieran crecer con nosotros. ðŸš€'
        price={100}
        features={[
          '50% de descuento de por vida',
          '15 miembros de equipo',
          'Sitios y tiendas ilimitadas',
          'Dominio personalizado',
        ]}
        recommended={true}
      />

      <PricingCard
        card='access-ltd'
        name='Acceso LTD'
        description='Recompensamos tu grandiosa confianza con creces. ðŸ’'
        price={720}
        features={[
          'Gadmin gratis de por vida',
          '30 miembros de equipo',
          'Sitios y tiendas ilimitadas',
          'Altos recursos en sitios y tiendas',
        ]}
      />
    </PricingCardsContainer>
  </div>
</div>

<style>
  .cta {
    background-color: var(--neutral-02);
    color: var(--shade-03);
    padding: 4rem 1rem;
  }

  .cta-container {
    padding: 0.25rem;
    border-radius: 8px;
  }

  .cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: var(--shade-03);
    border-radius: 8px;
  }

  .cta-title,
  .cta-subtitle {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--shade-03);
    text-align: center;
    font-size: var(--48-pt);
  }

  .cta-subtitle {
    font-size: var(--40-pt);
  }

  .cta-title span,
  .cta-subtitle span {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (max-width: 768px) {
    .cta-content {
      padding: 3rem 0.5rem;
    }
  }
</style>
