---
import feature01 from '@/assets/img/features/feature-01.png'
import { Image } from 'astro:assets'
---

<div class='features'>
  <div class='wrapper features-list'>
    <div class='feature' data-aos='fade-left'>
      <div class='feature-content'>
        <h3 class='feature-title'>La creaci칩n es instant치nea</h3>
        <p class='feature-description'>
          Crea tu tienda online en segundos: f치cil, r치pido, sin necesidad de saber programar. Sube
          tus productos, recibe pedidos, gestiona tus env칤os y mucho m치s.
        </p>
      </div>
      <div class='feature-image'>
        <Image src={feature01} width={350} height={350} alt='Logo de Gadmin' />
      </div>
    </div>
    <div class='feature feature--reverse' data-aos='fade-right'>
      <div class='feature-image'>
        <Image src={feature01} width={350} height={350} alt='Logo de Gadmin' />
      </div>
      <div class='feature-content'>
        <h3 class='feature-title'>Gestiona tu tienda desde donde quieras</h3>
        <p class='feature-description'>
          Te ponemos el control en la palma de tu mano. Gestiona tu tienda online desde cualquier
          dispositivo, ya sea tu ordenador, tablet o smartphone. Recibe pedidos en el WhatsApp y
          vende m치s.
        </p>
      </div>
    </div>
    <div class='feature' data-aos='fade-left'>
      <div class='feature-content'>
        <h3 class='feature-title'>Expande tu negocio sin l칤mites</h3>
        <p class='feature-description'>
          쯊u ciudad, pa칤s o el mundo entero? Por supuesto.
          <br />
          Nuestro plan <a href='/pricing' target='_blank' style='text-decoration: none'>Plata游뽔</a> te
          regala un dominio .COM para que tu tienda tenga una presencia profesional y memorable. 춰Llega
          a m치s clientes que nunca antes!
        </p>
      </div>
      <div class='feature-image'>
        <Image src={feature01} width={350} height={350} alt='Logo de Gadmin' />
      </div>
    </div>
  </div>
</div>

<style>
  .features {
    background-color: var(--neutral-02);
    padding: 4rem 1rem;
  }

  .features-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .feature {
    display: flex;
    gap: 1.5rem;
    min-height: 200px;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .feature-title {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--shade-02);
    font-size: var(--40-pt);
    background: linear-gradient(to right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .feature-description {
    margin: 0;
    color: var(--shade-02);
    font-size: var(--32-pt);
  }

  .feature-image {
    height: fit-content;
    min-height: 250px;
    margin: auto;
  }

  .feature-image img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    .features {
      gap: 1rem;
    }

    .feature {
      flex-direction: column;
      flex-flow: column-reverse;
    }

    .feature--reverse {
      flex-flow: column;
    }

    .feature-image {
      width: 75%;
      margin: 0 auto;
      max-height: 50svh;
      text-align: center;
    }

    .feature-image img {
      width: 80%;
      height: auto;
    }

    .features-list {
      gap: 3rem;
    }
  }
</style>
