---
import feature01 from '@/assets/img/features/feature-01.png'
import { Image } from 'astro:assets'
---

<div class='features'>
  <div class='wrapper features-list'>
    <div class='feature' data-aos='flip-left'>
      <div class='feature-content'>
        <h3 class='feature-title'>¿Un sitio web con blog o una tienda online?</h3>
        <p class='feature-description'>
          Construye lo que quieras, Gadmin es una plataforma con diversas aplicaciones para
          facilitarte la vida.
        </p>
      </div>
      <div class='feature-image'>
        <Image src={feature01} width={350} height={350} alt='Degradado de Gadmin' />
      </div>
    </div>
    <div class='feature feature--reverse' data-aos='flip-right'>
      <div class='feature-image'>
        <Image src={feature01} width={350} height={350} alt='Degradado de Gadmin' />
      </div>
      <div class='feature-content'>
        <h3 class='feature-title'>Paga cuando tu sitio sea publicado.</h3>
        <p class='feature-description'>
          Diseña y construye todo lo que quieras, pagarás por tu sitio cuando esté publicado.
        </p>
      </div>
    </div>
    <div class='feature' data-aos='flip-left'>
      <div class='feature-content'>
        <h3 class='feature-title'>Somos anti precio/miembro, invita a todo tu equipo.</h3>
        <p class='feature-description'>
          Nuestro plan de espacio de trabajo es gratuito hasta 15 miembros de tu equipo.
          <br />
          Además, no creemos en la mentira de cobrar por “miembros adicionales”, tenemos planes adaptados
          al tamaño de tu equipo.
        </p>
      </div>
      <div class='feature-image'>
        <Image src={feature01} width={350} height={350} alt='Degradado de Gadmin' />
      </div>
    </div>
  </div>
</div>

<style>
  .features {
    background-color: var(--neutral-02);
    padding: 4rem 1rem;
  }

  .features-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .feature {
    display: flex;
    gap: 1.5rem;
    min-height: 200px;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .feature-title {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--shade-03);
    font-size: var(--40-pt);
    background: linear-gradient(to right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .feature-description {
    margin: 0;
    color: var(--shade-03);
    font-size: var(--32-pt);
  }

  .feature-image {
    height: fit-content;
    min-height: 250px;
    margin: auto;
  }

  .feature-image img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    .features {
      gap: 1rem;
    }

    .feature {
      flex-direction: column;
      flex-flow: column-reverse;
    }

    .feature--reverse {
      flex-flow: column;
    }

    .feature-image {
      width: 75%;
      margin: 0 auto;
      max-height: 50svh;
      text-align: center;
    }

    .feature-image img {
      width: 80%;
      height: auto;
    }

    .features-list {
      gap: 3rem;
    }
  }
</style>
