---
import offerLines from '@/assets/offer-lines.png'
import Button from '@/shared/components/Button.astro'
import { Image } from 'astro:assets'
---

<div class='hero'>
  <div class='wrapper hero-grid'>
    <div class='hero-content' data-aos='zoom-in'>
      <p class='hero-tagline'>Tiendas online para emprendedores y pequeñas empresas</p>

      <h1 class='hero-big-title'>
        El creador de tiendas <span class='text-gradient'>asombrosas</span>
      </h1>

      <div class='hero-features'>
        <p>Crea tu tienda online del tamaño que necesites</p>
        <p>Ahorra tiempo con IA integrada</p>
        <p>Sin complicaciones técnicas</p>
      </div>

      <div class='hero-cta'>
        <Button
          href='#pricing'
          mode='gradient'
          style={{
            width: 'fit-content',
            fontWeight: 500,
          }}>¡Consíguelo ahora!</Button
        >
        <div class='floating-offer'>
          <Image
            src={offerLines}
            alt='Líneas apuntando a la oferta'
            class='floating-lines'
            width={256}
            height={103}
          />
          <div class='floating-offer-container'>
            <div class='floating-offer-inner'>Pruébalo antes que nadie</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  /* TODO: Cambiar el 1c1b30 por el nuevo color de fondo si aplica */
  .hero {
    background-color: #0eaaf9;
    background-image: linear-gradient(150deg, #1c1b30, #4d5def);
    position: relative;
    min-height: 100svh;
    overflow: hidden;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    gap: 1rem;
    min-height: calc(100svh - 7rem);
    padding: 6rem 1rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 2;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
  }

  .hero-tagline {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(
      90deg,
      #ffffff77 0%,
      #dee7f1 20%,
      #dee7f1 80%,
      #ffffff77 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .hero-big-title {
    font-size: 3.5rem;
  }

  .hero-big-title,
  .hero-features p {
    margin: 0;
    text-align: center;
    color: var(--white);
  }

  .hero-features p {
    font-size: 1.1rem;
  }

  .hero-features {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0 2rem 0;
  }

  .hero-cta {
    position: relative;
  }

  .floating-lines {
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-55%);
    width: 7.5rem;
    height: auto;
    pointer-events: none;
    z-index: 1;
  }

  .floating-offer {
    position: absolute;
    right: -12.5rem;
    top: 50%;
    z-index: 2;
  }

  .floating-offer-container {
    position: relative;
    left: 5rem;
    transform: translateY(100%) rotate(22deg);
    background-color: #cccccc;
    border-radius: 0.5rem;
    padding: 0.25rem;
    z-index: 2;
  }

  .floating-offer-inner {
    padding: 0.5rem;
    border: 1px dashed var(--shade-03);
    border-radius: 0.25rem;
    color: var(--shade-03);
    font-size: 0.85rem;
    white-space: nowrap;
  }

  @media screen and (max-width: 768px) {
    .hero-content {
      padding: 2rem 0;
    }
    .floating-offer {
      display: none;
    }

    .hero-big-title {
      font-size: 2.75rem;
    }

    .hero-tagline {
      font-size: 1rem;
    }
    .hero-features p {
      font-size: 1rem;
    }
  }
</style>
