---
import gift3D from '@/assets/img/gift-3d.png'
import offerLines from '@/assets/offer-lines.png'
import Button from '@/shared/components/Button.astro'
import { Image } from 'astro:assets'
---

<div class='hero'>
  <Image src={gift3D} alt='Gift 3D decoration' class='floating-gift' width={350} height={350} />
  <div class='wrapper hero-grid'>
    <div class='hero-content' data-aos='zoom-in'>
      <p class='hero-tagline'>
        Sitios webs y tiendas online para emprendedores y pequeñas empresas.
      </p>

      <h1 class='hero-big-title'>
        El creador web para sitios <span class='text-secondary'>asombrosos</span>
      </h1>

      <div class='hero-features'>
        <p>Crea sitios o tiendas de cualquier tamaño</p>
        <p>Ahorra tiempo con IA integrada</p>
        <p>Sin tocar nada técnico</p>
      </div>

      <div class='hero-cta'>
        <Button
          href='#pricing'
          mode='gradient'
          style={{
            width: 'fit-content',
            fontWeight: 500,
          }}>¡Consíguelo ahora!</Button
        >
        <div class='floating-offer'>
          <Image src={offerLines} alt='' class='floating-lines' width={256} height={103} />
          <div class='floating-offer-container'>
            <div class='floating-offer-inner'>Pruébalo antes que nadie</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .hero {
    background-color: #0eaaf9;
    background-image: linear-gradient(135deg, #01283c, #052112);
    position: relative;
    min-height: 100svh;
    overflow: hidden;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    gap: 1rem;
    min-height: calc(100svh - 7rem);
    padding: 6rem 1rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 2;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
  }

  .hero-tagline {
    font-size: 1rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(
      90deg,
      rgba(184, 229, 255, 0.5) 0%,
      rgba(184, 229, 255, 1) 25%,
      rgba(184, 229, 255, 1) 75%,
      rgba(184, 229, 255, 0.5) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .hero-big-title {
    font-size: 3rem;
  }

  .hero-big-title,
  .hero-features p {
    margin: 0;
    text-align: center;
    color: var(--white);
  }

  .hero-features {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0 2rem 0;
  }

  .hero-cta {
    position: relative;
  }

  .floating-lines {
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-55%);
    width: 7.5rem;
    height: auto;
    pointer-events: none;
    z-index: 1;
  }

  .floating-offer {
    position: absolute;
    right: -11.5rem;
    top: 50%;
    z-index: 2;
  }

  .floating-offer-container {
    position: relative;
    left: 5rem;
    transform: translateY(100%) rotate(22deg);
    background-color: #e53333;
    border-radius: 0.5rem;
    padding: 0.25rem;
    z-index: 2;
  }

  .floating-offer-inner {
    padding: 0.5rem;
    border: 1px dashed rgba(255, 255, 255, 0.75);
    border-radius: 0.25rem;
    color: white;
    font-size: 0.75rem;
    white-space: nowrap;
  }

  .floating-gift {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    opacity: 0.07;
    width: 25rem;
    height: auto;
    pointer-events: none;
    z-index: 1;
  }

  @media screen and (max-width: 768px) {
    .hero-content {
      padding: 2rem 1rem;
    }
    .floating-offer {
      position: relative;
      right: -1rem;
      transform: translateY(25%);
      margin-bottom: 4.5rem;
    }
    .floating-gift {
      width: 20rem;
      left: inherit;
      right: -5rem;
      bottom: 15rem;
    }
  }

  @media screen and (max-height: 550px) {
    .floating-offer {
      position: relative;
      right: -1rem;
      transform: translateY(25%);
      margin-bottom: 4.5rem;
    }
  }
</style>
