---
import leftPresentation from '@/assets/img/presentation/left-img.png'
import centerPresentation from '@/assets/img/presentation/main.png'
import rightPresentation from '@/assets/img/presentation/right-img.png'
import { Image } from 'astro:assets'
---

<div class='presentation'>
  <div class='wrapper'>
    <h2 class='presentation-title' data-aos='fade-down'>
      Lleva tu <span>emprendimiento</span> más allá
    </h2>
    <p class='presentation-description' data-aos='fade-right'>
      Gadmin integra métricas de ventas y gestión de inventario, dándote una comprensión total de tu
      negocio.
      <br />
      <b>Enfócate en tus clientes e incrementa tus ventas.</b>
    </p>
  </div>
  <div class='presentation-images' data-aos='zoom-in'>
    <Image
      class='presentation-image presentation-image-left'
      src={leftPresentation}
      width={744}
      height={368}
      alt='Listado de productos en Gadmin'
    />
    <Image
      class='presentation-image presentation-image-center'
      src={centerPresentation}
      width={994}
      height={602}
      alt='Tienda online creada con Gadmin'
    />
    <Image
      class='presentation-image presentation-image-right'
      src={rightPresentation}
      width={644}
      height={302}
      alt='Resumen de rendimiento dentro de Gadmin'
    />
  </div>
</div>

<style>
  .presentation {
    background-color: var(--neutral-02);
    padding: 4rem 1rem;
  }

  .presentation-title {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--shade-02);
    text-align: center;
    font-size: var(--64-pt);
  }

  .presentation-description {
    margin: 0;
    color: var(--shade-02);
    text-align: center;
    font-size: var(--32-pt);
  }

  .presentation-title span {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .presentation-images {
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    gap: 1rem;
    place-items: center;
    padding: 0 1rem;
    margin-top: 2rem;
  }

  .presentation-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: 768px) {
    .presentation-images {
      grid-template-columns: 1fr;
    }

    .presentation-image-left,
    .presentation-image-right {
      width: 75%;
      height: auto;
    }
  }
</style>
