---
import logoBg from '@/assets/img/logo-bg.webp'
import { Image } from 'astro:assets'
---

<div class='presentation'>
  <div class='wrapper'>
    <h2 class='presentation-title' data-aos='fade-down'>
      Lleva tu <span>emprendimiento</span> más allá
    </h2>
    <p class='presentation-description' data-aos='fade-right'>
      Gadmin integra métricas de ventas y gestión de inventario en tiempo real, ofreciéndote una
      comprensión completa de tu negocio y dándote una orientación precisa para mejorar la
      experiencia del cliente y aumentar las ventas.
    </p>
    <div class='presentation-images' data-aos='zoom-in'>
      <Image
        class='presentation-image presentation-image-left'
        src={logoBg}
        width={250}
        height={250}
        alt='Logo de Gadmin'
      />
      <Image
        class='presentation-image presentation-image-center'
        src={logoBg}
        width={350}
        height={350}
        alt='Logo de Gadmin'
      />
      <Image
        class='presentation-image presentation-image-right'
        src={logoBg}
        width={250}
        height={250}
        alt='Logo de Gadmin'
      />
    </div>
  </div>
</div>

<style>
  .presentation {
    background-color: var(--neutral-02);
    padding: 4rem 1rem;
  }

  .presentation-title {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--shade-02);
    text-align: center;
    font-size: var(--64-pt);
  }

  .presentation-description {
    margin: 0;
    color: var(--shade-02);
    text-align: center;
    font-size: var(--32-pt);
  }

  .presentation-title span {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .presentation-images {
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    gap: 1rem;
    place-items: center;
    padding: 0 1rem;
    margin-top: 2rem;
  }

  .presentation-image {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .presentation-images {
      grid-template-columns: 1fr;
    }

    .presentation-image-left,
    .presentation-image-right {
      width: 75%;
      height: auto;
    }
  }
</style>
