---
import anny from '@/assets/img/anny.webp'
import ceo from '@/assets/img/ceo.webp'
import Image from 'astro/components/Image.astro'
---

<div class='testimonials'>
  <div class='wrapper testimonials-container'>
    <h2 class='testimonials-title' data-aos='zoom-in-down'>
      Con un equipo <span>comprometido</span> a darte la mejor experiencia
    </h2>
    <div class='testimonials-list'>
      <div class='testimonial' data-aos='flip-left'>
        <div class='testimonial-business-logo'>
          <Image src={ceo} width={48} height={48} alt='Foto de Orlando Briceño, CEO de Gadmin' />
          <div class='testimonial-author'>
            <div class='testimonial-author-information'>
              <p class='testimonial-author-name'>Orlando Briceño</p>
              <p class='testimonial-author-role'>Fundador</p>
            </div>
          </div>
        </div>
        <p class='testimonial-message'>
          "<b>Honestidad</b> y <b>transparencia</b>. Construyo Gadmin sobre mis valores.
          <br /><br />
          Te prometo no darte (malas 😂) sorpresas.”
        </p>
      </div>
      <div class='testimonial' data-aos='flip-left'>
        <div class='testimonial-business-logo'>
          <Image
            src={anny}
            width={48}
            height={48}
            alt='Foto de Anny Rondón, diseñadora y frontend de Gadmin'
          />
          <div class='testimonial-author'>
            <div class='testimonial-author-information'>
              <p class='testimonial-author-name'>Anny Rondón</p>
              <p class='testimonial-author-role'>Diseñadora y Desarrolladora</p>
            </div>
          </div>
        </div>
        <p class='testimonial-message'>
          “Ha sido una idea ambiciosa y alcanzable. Me siento contenta porque, poco a poco, hemos
          desarrollado una herramienta enfocada en ayudar al usuario a mejorar su velocidad y
          gestión diaria”
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .testimonials {
    background-color: var(--shade-03);
    color: var(--white);
    padding: 4rem 1rem;
    padding-bottom: 1rem;
  }

  .testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: var(--shade-03);
    border-radius: 8px;
  }

  .testimonials-title {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--white);
    text-align: center;
    font-size: var(--48-pt);
  }

  .testimonials-title span,
  .testimonial-gadmin {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .testimonial-gadmin {
    font-size: var(--32-pt);
    text-transform: uppercase;
  }

  .testimonials-list {
    display: flex;
    gap: 3rem;
    padding: 2rem 0;
  }

  .testimonial {
    max-width: 400px;
  }

  .testimonial-business-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 100%;
  }

  .testimonial-business-logo img {
    border-radius: 100%;
  }

  .testimonial-message {
    color: var(--neutral-04);
    font-size: 1.15rem;
    font-weight: normal;
  }

  .testimonial-author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .testimonial-author-name,
  .testimonial-author-role {
    margin: 0.25rem 0;
  }

  .testimonial-author-role {
    color: var(--neutral-06);
  }

  @media screen and (max-width: 768px) {
    .testimonials-title {
      text-align: left;
    }

    .testimonials-list {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 2rem 0;
    }

    .testimonial {
      max-width: 100%;
    }
  }
</style>
